{% extends "layout.html" %}

<style>
  input[type=radio] {
  
  height:30px;
  width:50px;
  vertical-align: middle;
  }
</style>

<script type="text/javascript">
  window.onload=function(){ 
  var elem = document.getElementById("formProcessing");
  window.setTimeout( elem.submit.bind(elem), 5000 );
  };
</script>

{% block body %}
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      
      <h1>Test: {{m_doc["test"]}} -- Sign off</h1>
      
      <h2>Component: {{m_doc["componentName"]}}, Stage: {{m_doc['stage']}}</h2>
    </div>
  </div>
  
  <br />
  
  <div class="row align-items-center justify-content-center">
    <div class="col">
      
      {% if m_doc["messageText"] != '' %}
      <h4 style="margin:20px; padding:20px; background-color:#FFC; font-size: 200%; color: #F00;"><i class="fa fa-exclamation-triangle"></i> {{ m_doc["messageText"] }}</h4>
      {% endif %}
      
      {% if session['logged_in'] %}
      {% if m_doc["processState"] == "selection" %}
      <ul>
	    <li>Please select one run for each scan.</li>
	    <li>If no candidate scan is present, select "skip" (temporary solution).</li>
      </ul>
      
      {% elif m_doc["processState"] == "complete" %}
      <h4 style="margin: 20px; padding: 20px; background-color: #CFC;"><i class="fa fa-check-square-o"></i> {{ m_doc['test'] }} has been registered.</h4>
	  <span><a class="btn btn-primary" href="{{ url_for('component_api.show_component', id=m_doc['componentID'], collection='component' ) }}" role="button">Return Component Index</a></span><br />
      {% endif %}
	  {% if m_doc["processState"] != "processing" %}
      <form class="form-holizontal" role="form" method="post" action="{{ url_for('checkout_api.pixel_failure_test', componentID=m_doc['componentID'], stage=m_doc['stage'], test=m_doc['test']) }}" coponentID="form" accept-charset="UTF-8">
	    {% else %}
        <form class="form-holizontal" role="form" method="post" action="{{ url_for('checkout_api.pixel_failure_test', componentID=m_doc['componentID'], stage=m_doc['stage'], test=m_doc['test']) }}" id="formProcessing" accept-charset="UTF-8">	
	      {% endif %}
          {% for scantype in m_doc["scans"]["scantypes"]%}
          {% set outer_loop = loop %}
	      
	      {% if m_doc["processState"] != "complete" %}
          <h3 style="margin-top: 50px;"><i class="fa fa-file-text"></i> {{ scantype }}</h3>
	      {% endif %}
	      
          {% if m_doc["processState"] == "selection" %}
          <table class="table table-sm table-bordered">
            <thead class="table-light">
              <tr>
                <th scope="col">Select</th>
                <th scope="col">View</th>
                <th scope="col">YARR Scan Run Number</th>
                <th scope="col">Scan Type</th>
                <th scope="col">Date</th>
                <th scope="col">User</th>
                <th scope="col">Site</th>
                <th scope="col">Tag</th>
              </tr>
            </thead>
            <tbody>
              {% set scanName = m_doc["scans"]["scantypes"][outer_loop.index0] %}
              {% set nScans = ( (m_doc['run']['run_data'] | selectattr('testType', scanName ) ) | list | length ) %}
              
              {% for run_data in m_doc["run"] %}
              
              {% if (run_data['run_data']["testType"] == m_doc["scans"]["scantypes"][outer_loop.index0])
              or ( m_doc["scans"]["scantypes"][outer_loop.index0] == "selftrigger_source" and "xray" in run_data['run_data']["testType"] )
              or ( m_doc["scans"]["scantypes"][outer_loop.index0] == "std_thresholdscan_zerobias" and "threshold" in run_data['run_data']["testType"] and not "tune" in run_data['run_data']["testType"] )
	      %}
              
              {% if run_data['run_data']['plots'] %}
                <tr>
              {% else %}
                <tr style="background: #AABBCC;">
              {% endif %}
	            
                <td style="word-wrap:break-word;">
                  <div class="col-md-10">
		            {% if nScans == 1 %}
                    <input type="radio" name="{{ scantype }}_id" value="{{ run_data['run_data']['_id'] }}" required="required" style="margin-left: 20px; transform: scale(2);" checked>
		            {% else %}
                    <input type="radio" name="{{ scantype }}_id" value="{{ run_data['run_data']['_id'] }}" required="required" style="margin-left: 20px; transform: scale(2);">
		            {% endif %}
                  </div>
                </td>
                
                <td style="word-wrap:break-word;">
                  <a class="btn btn-secondary" href="{{ url_for('component_api.show_component', id=m_doc['componentID'], runId=run_data['run_data']["_id"], collection='component', test='electrical') }}">View Result</a>
                </td>
	            
                <td style="word-wrap:break-word; font-size: 150%;">{{ run_data['run_data']["runNumber"] }}</td>
                <td style="word-wrap:break-word; font-size: 150%;">{{ run_data['run_data']["testType"] }}</td>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["datetime"] }}</td>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["user"] }}</td>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["site"] }}</td>
                <td style="word-wrap:break-word;">
                  {% for tag in run_data['run_data']['testRun_tag'] %}
                  <div><span class="badge badge-pill badge-primary">{{ tag['name'] }}</span></div>
                  {% endfor %}
                </td>
              </tr>
              {% endif %}
              {% endfor %}
              <tr style="background-color: #FFC;">
                <td style="word-wrap:break-word;">
                  <div class="col-md-3">
                    <input type="radio" name="{{ scantype }}_id" value="{{ '' }}" required="required" style="margin-left: 20px; transform: scale(2);">
                  </div>
                </td>
                <td colspan="7">
                  <span style="font-size:150%; ">Skip {{scantype}}</span>
                </td>
              </tr>
            </tbody>
          </table>
          
          {% elif m_doc["processState"] == "processing" or m_doc["processState"] == "complete" %}
          <table class="table table-sm toppage" style="font-size: 10pt;">
            <thead class="table-light">
              <tr>
                <th scope="col">Test Type</th>
                <th scope="col">run Number</th>
                <th scope="col">Test Date</th>
                <th scope="col">Setting Temperature around Module Ntc</th>
              </tr>
            </thead>
            <tbody>
              {% for run_data in m_doc['run'] %}
              {% if run_data['run_data']["testType"] == scantype %}
              <tr>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["testType"] }}</td>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["runNumber"] }}</td>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["datetime"] }}</td>
                <td style="word-wrap:break-word;">{{ run_data['run_data']["temp"] }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          
          {% if 'plots' in m_doc %}
          <div class="row align-items-center justify-content-flex-start">
            <div class="col">
              {% for result in m_doc["plots"][0]["results"] %}
              <h4 style="font-size: 10pt;">
                <i class="fa fa-file-text"></i> {{ result["mapType"] }}
              </h4>
              <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
                <thead class="table-light">
                  <tr>
                    {% for chip, data in result["chips"].items() %}
                    {% if not data["num"]==0 %}
                    <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" width={{ data["length"] }} colspan={{ data["num"] }}>{{ chip }}</th>
                    {% endif %}
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for chip, data in result["chips"].items() %}
                    {% for plot in data["plots"] %}
                    <td scope="col" class="text-left" style="word-wrap:break-word;">
                      <a href={{ plot["href"] }} target="_brank" rel="noopener noreferrer">
                        <img src={{ plot["href"] }} title={{ plot["name"] }} width={{ data["width"] }} height={{ data["height"] }}></img>
                      </a>
                    </td>
                    {% endfor %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          
          {% endif %}
          {% endfor %}
          
          <br>
          <br>
          {% if m_doc["scans"]["analysis"]["run"] %}
          {% if m_doc["processState"] == "confirmation" %}
          <h3><i class="fa fa-file-text"></i> Bad Pixel Analysis</h3>
          {% endif %}
          {% for chip_result in m_doc["scans"]["analysis_result"] %}
          <h3>Chip: {{ chip_result['chipname'] }}
            <span style="font-size: 70%;">
	          {% if 'Tree_path' in chip_result %}
	          <a class="badge badge-pill badge-primary" href="{{ chip_result['Tree_path'] }}"><i class="fa fa-download"></i> Scan ROOT Tree File</a>
	          {% endif %}
	          {% if 'result_path' in chip_result %}
	          <a class="badge badge-pill badge-primary" href="{{ chip_result['result_path'] }}"><i class="fa fa-download"></i> Analysis Result Histogram ROOT File</a>
	          {% endif %}
            </span>
          </h3>
          
          <!-- Debug Message -->
          <!-- p>{{ chip_result }}</p -->
          
          {% if m_doc["processState"] == "confirmation" and chip_result["tool"] == True %}
          
          <h4 style="font-size: 12pt;">
            {% if not chip_result["tool"] %}
            <font color=#ff0000>### NO SOFTWARE ###</font>
            {% endif %}
          </h4>
          {% include "yarr_scans/show_analysis_result.html" %}
          {% else %}
          <font color=#ff0000> {{ m_doc }} </font>
          {% endif %}
          {% endfor %}
          {% endif %}
          
          <input type="hidden" name="documentHash" value="{{ m_doc['hash'] }}" />
          <div class="col-md-12" style="font-size: 200%; margin-bottom:30px;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked id="applyAllFEs" name="applyAllFEs" style="transform: scale(2); margin: 10px 30px 0 0;">
              <label class="form-check-label" for="applyAllFEs" style="margin-left: 30px;">
                Use the same set of YARR scans for the rest FE Chips of the module.
              </label>
            </div>
          </div>
          <div class="col-md-12">
            {% if m_doc["processState"] == "selection" %}
            <div class="balloonoya">
              <button type="submit" class="btn btn-primary" name="processState" value="complete">Proceed</button>
	          <span class="balloon" style="padding: 5px; font-size:100%;">
	            After pushing the button the processing takes a few tens seconds; please wait.
	          </span>
            </div>
            {% elif m_doc["processState"] == "complete" %}
            {% endif %}
          </div>
        </form>
        
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
