{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}

<div class="container" style="padding-top:15px;">
  <div class="row align-items-center justify-content-center">
    <div class="col">
        <h1>
            <font color="ff0000"><i class='fa fa-warning'></i>This page isn't working...</font>
        </h1>

        <h3 style="padding-left:30px;">
          LocalDB scripts are currently unable to handle this request.
	</h3>
	
        <ul>
	  <li>Please check the error message below, and contact the developpers</li>
	  <li>Please report which LocalDB viewer version is deployed on your site.</li>
	</ul>
        <div style="text-align: left; padding-left:3%; padding-right: 3%;">
            <pre>{{ message | safe }}</pre>
        </div>
	<p> &raquo; <a href="https://mattermost.web.cern.ch/itkpixel/channels/local-database" target="_blank"><button type="button" class="btn btn-outline-dark">Mattermost</button></a></p>
     </div>
  </div>
</div>
<br>
<div class="container">
  <h4><a href="javascript:history.go(-1)">Back</a></h4>
</div>


{% endblock %}
