{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body%}
	collection is {{collection}}
  <ul class=entries>
  <button type="button" onclick="location.href='{{ url_for('show_entry') }}'">HOME</button>
  {% for name in index %}
    <h3>
    <form action="{{ url_for('open_document') }}" method=post class=entries>
    <input type="hidden" name="col" value={{collection}}>
    <button name="doc" value={{name.value}}>{{name.value}}</button>
    </form>
    </h3>
  {% else %}
    <li><em>something errors</em>
  {% endfor %}
  </ul>

{% endblock %}
