<style>
a.data:link { color: #3cb371; }
a.data:visited { color: #3cb371; }
a.data:hover { color: #ff8c00; }
a.data:active { color: #dc143c; }
th { background-color: #eeeeff; }
.bg-warning th { background-color: transparent; }
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

    <div class="container">
      <div class='row align-items-top justify-content-center'>
      <!div class="row align-items-center justify-content-center"-->
        <div class="col">
          <!--h3 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 100%;"-->
	  <p style="margin-top: 0.5%; margin-bottom: 0%; font-size: 100%;">
	    <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a>
	    &gt; <a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a>
	    {% if component['info']['name'] %}
            &gt; <a href='{{ url_for('component_api.show_component', id=component['_id'], collection='component' ) }}' style="color:rgba(0, 0, 0, 0.648);">{{ component['info']['name'] }}</a>
	    {% else %}
            &gt; <a href='{{ url_for('component_api.show_component', id=component['_id'], collection='component' ) }}' style="color:rgba(0, 0, 0, 0.648);">Component</a>
	    {% endif %}

            {% if component['qctest']['results'] %}
            &gt; QC Result
	    
	    {% if 'testType' in component['qctest']['results'] %}
	    / {{ component['qctest']['results']['currentStage'] }}
	    / {{ component['qctest']['results']['testType'] }}
	    {% endif %}
	    {% endif %}


            {% if component['property']['properties'] %}
            &gt; Module Property
	    {% if 'testType' in component['property']['results'] %}
	    / {{ component['property']['results']['testType'] }}
	    {% endif %}
	    {% endif %}

            {% if component['electrical']['results'] %}
            &gt; Scan Result
	    
	    {% if 'stage' in component['electrical']['results']['info'] %}
	    / {{ component['electrical']['results']['info']['stage'] }}
	    {% endif %}
	    
	    {% if 'testType' in component['electrical']['results']['info'] %}
	    / {{ component['electrical']['results']['info']['testType'] }}
	    {% endif %}

	    {% if 'runNumber' in component['electrical']['results']['info'] %}
	    / Run {{ component['electrical']['results']['info']['runNumber'] }}
	    {% endif %}
	    {% endif %}
	  </p>
          <!-- /h3 -->
        </div>

      </div>
    </div>
    <hr />

    <div class="container">
      
      {% include 'parts/showMessages.html' %}


      <div class="row align-items-top justify-content-left">
        <div class="col">
          
          {% if component['info'] %}
	      
          {% if component['info']['proID'] %}
	      {% set name = component['info']['name'] %}
          <h1 style="margin-top: 20px;">{{ component['info']['name_delim'] }}</br />
		    <span style="font-size: 50%; color:#888;">
		      {{ component['info']['typeinfo'] }}
		    </span><br />
		    <div class="balloonoya"  style="font-size: 50%; margin-top: 5px;" >
		      <a href='https://uuappg01-eu-w-1.plus4u.net/ucl-itkpd-maing01/dcb3f6d1f130482581ba1e7bbe34413c/componentView?code={{component["info"]["proID"]}}' target="_blank"
                 rel="noopener noreferrer" class="badge badge-pill badge-info"><i class="fa fa-external-link "></i>&nbsp;&nbsp;ITkPD Component Page</a>
		      <span class="balloon" style="padding: 5px;">
		        Jump to ITkPD component page
		      </span>
		    </div>
	      </h1>
	      
          {% else %}
          <h1>Component: {{ component['info']['name'] }}</h1>
          <h4>
            <font style="color:#dc143c;">
              <i class="fa fa-warning "></i> Link to ITkPD is missing! Please re-download component IDs:
              <a href="{{ url_for('user_api.download_component')}}"><button type="button" class="btn btn-outline-danger btn-sm">Download IDs</button></a>
            </font>
          </h4><br>
          {% endif %}
	      
	      
          {% if component["upload_result"]["uploading"] == 'in_progress' %}
          <h4><i class="fa fa-refresh fa-spin "></i> QC-result uploading process running in background. Please reload to renew the status.</h4>
          <h4><a href='https://uuappg01-eu-w-1.plus4u.net/ucl-itkpd-maing01/dcb3f6d1f130482581ba1e7bbe34413c/myTests' target="_blank"
                 rel="noopener noreferrer"><i class="fa fa-external-link "></i> You can check the uploaded results in ITkPD</a></h4><br>
          {% elif component["upload_result"] != None %}
          <h2>
            <font style="color:#dc143c;">
              <i class="fa fa-warning "></i> Failure in background submission of QC results to ITkPD!
            </font>
          </h2>
          <p><font style="color:#dc143c;">Please check if LocalDB server is connected to the internet, and the ITkPD service is running.<br />Otherwise, contact to developers, either via <a href="https://mattermost.web.cern.ch/itkpixel/channels/local-database">Mattermost</a> or by email pasting the following error log.</font></p>
          
          <div style="margin-left: 2%; margin-top: 10px; margin-bottom: 10px;">
	        <a class="btn btn-info" data-toggle="collapse" href="#upload_errorlog" role="button" aria-expanded="false" aria-controls="upload_errorlog">
	          Expand Error Log
	        </a>
          </div>
    
          <div class="collapse" id="upload_errorlog">
            <div class="card card-body">
              <pre>{{ component["upload_result"]["uploading"] }}</pre>
            </div>
          </div>
          {% endif %}
	      
	      
                <h2 style="font-size: 150%;"><i class='fa fa-cog'></i> Component Information</h2>
                {% if component['info'] %}
                    <table class="table table-sm table-bordered" style="font-size: 100%;">
                      <thead class="table-light">
                        <tr>
                          <th scope="col" class="text-left" width="250">Item</th>
                          <th scope="col" class="text-left">Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="raw" class="text-left" width="250">
                            Serial Number
                          </th>
                          <td>
                            <a href="{{ url_for('component_api.show_component', id=component['_id'], collection='component' ) }}" class="badge badge-pill badge-info" style="font-size:100%;">{{ component['info']['name'] }}</a>
                          </td>
                        </tr>
			<tr>
			  <th scope="ros" class="text-left" width="250">
			    Production DB Component ID
			  </th>
			  <td>
			    {{ component['info']['proID'] }}
			  </td>
			</tr>
                        <tr>
                          <th scope="raw" class="text-left" width="250">
                            LocalDB Component ID
                          </th>
                          <td>
                            {{ component['info']['component'] }}
                          </td>
                        </tr>
                        <tr>
                          <th scope="raw" class="text-left" width="250">
                            Component Type
                          </th>
                          <td>
                            {{ component['info']['type'] }}
                          </td>
                        </tr>
			{% if isModule == True %}
                        <tr>
                          <th scope="raw" class="text-left" width="250">
                            FE type
                          </th>
                          <td>
                            {{ component['info']['chipType'] }}
                          </td>
                        </tr>
			{% endif %}
                        {% if component['info']['parents'] %}
                        <tr>
                          <th scope="raw" class="text-left" width="250">
                            Super-Component
                          </th>
                          <td>
                            {% for parent in component['info']['parents'] %}
                              <a href="{{ url_for('component_api.show_component', id=parent['_id'], collection=parent['collection']) }}" class="badge badge-pill badge-info" style="font-size:90%;">{{parent['name']}}</a>&ensp;
                            {% else %}
                              No match.
                            {% endfor %}
                          </td>
                        </tr>
                        {% endif %}
                        {% if component['info']['children'] %}
                        <tr>
                          <th scope="raw" class="text-left" width="250">Sub-Components</th>
                          <td style="line-height: 2em;">
			    
                            {% for child in component['info']['children'] %}
			    {% if child['name'] != None %}
			    &bull;&nbsp;
			    {% if child['name'].find( 'XF' ) == 5 or child['name'].find( 'FC' ) == 5 %}
			    FE Chip: 
			    {% elif child['name'][5] == 'B' or child['name'].find( 'XB' ) == 5 %}
			    Bare Module: 
			    {% elif child['name'][5] == 'P' or child['name'].find( 'XP' ) == 5 %}
			    PCB: 
			    {% elif child['name'][5] == 'S' or child['name'].find( 'XS' ) == 5 %}
			    Sensor Tile: 
			    {% endif %}
			    <a href="{{ url_for('component_api.show_component', id=child['_id'], collection=child['collection']) }}" class="badge badge-pill badge-info" style="font-size:90%;">{{child['name']}}</a>
			    <br />
			    {% endif %}
                            {% endfor %}
                            {% else %}
                            No match.
			  </td>
                        </tr>
                        {% endif %}
                      </tbody>
                    </table>
                {% endif %}
		
                {% if session['logged_in'] and component['info']['type'] == "module" %}
                    <!-- a href="{{ url_for('user_api.register_chipid', module=component["info"]["name"])}}"><button type="button" class="btn btn-primary"><i class="fa fa-random "></i> Re-arrange Chips</button></a-->
                {% endif %}
		    
              {% endif %}
	      
              {% if component['electrical']['results'] %}
              <h3>Result: {{ component['electrical']['results']['info']['runNumber'] }}</h3>
              {% endif %}
            </div>


            <div class="col-md-6" style="margin-top: 20px;">
	      {% if component['info']['properties'] != None %}
              <h2 style="font-size: 150%;"><i class='fa fa-cog'></i> Properties</h2>
              <form action="{{ url_for('component_api.show_component', id=component['_id'], collection='component')}}" method="post" style="font-size: 110%;">
              <table class="table table-sm table-bordered" style="font-size: 90%; margin-left: 30px; width: 90%;">
                <thead class="table-light">
                  <tr>
                    <th scope="col" class="text-left">Item</th>
                    <th scope="col" class="text-left">Data Type</th>
                    <th scope="col" class="text-left">Value</th>
                  </tr>
		  {% for prop in component['info']['properties'] %}
                  <tr>
		    <th scope="row">{{ prop['name'] }}</th>
		    <td>{{ prop['dataType'] }}</td>
		    {% if not session['logged_in'] %}
		    <td>{{ prop['value'] }}</td>
		    {% else %}
		    <td>
		      {% if prop['dataType'] == 'codeTable' %}
		      <select name="{{ prop['code'] }}">
			<option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
			{% for elem in prop['codeTable'] %}
			<option value="{{ elem['value'] }}" {% if prop['value'] == elem['value'] %}selected{% endif %}>{{ elem['value'] }}</option>
			{% endfor %}
		      </select>
		      
		      {% elif prop['dataType'] == 'boolean' %}
		      <select name="{{ prop['code'] }}">
			<option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
			<option value="true" {% if prop['value'] == True %}selected{% endif %}>Yes</option>
			<option value="false" {% if prop['value'] == False %}selected{% endif %}>No</option>
		      </select>
		      
		      {% elif prop['dataType'] == 'float' %}
		      <input type="number" name="{{ prop['code'] }}" value="{{ prop['value'] }}" />
		      
		      {% elif prop['dataType'] == 'integer' %}
		      <input type="number" name="{{ prop['code'] }}" value="{{ prop['value'] }}" />
		      
		      {% else %}
		      
		      {% if prop['value'] != None %}
		      <input type="text" name="{{ prop['code'] }}" value="{{ prop['value'] }}" />
		      {% else %}
		      <input type="text" name="{{ prop['code'] }}" value="N/A" />
		      {% endif %}
		      
		      {% endif %}
		    </td>
		    {% endif %}
		  </tr>
		  {% endfor %}
                </thead>
	      </table>
	      {% if session['logged_in'] %}
              <button type="submit" class="btn btn-primary" name="mode" value="updateProperties" style="margin-left: 30px;"><i class="fa fa-pencil-square-o "></i> Update Properties</button>
	      {% endif %}
	      </form>
	      {% endif %}
            </div>

        </div>
        <div class="row align-items-top justify-content-right">
        </div>
        <br>
        <div class="row align-items-top justify-content-left">
          {% include "displayComponent/comment.html" %}
        </div>

	<!-- Test Result Section -->
	
	<!-- For Electrical Scan Result -->
        {% if component['electrical']['results'] %}
	<hr />
        <h3>Scan Result: {{ component['electrical']['results']['info']['testType'] }} / run {{ component['electrical']['results']['info']['runNumber'] }} (Stage: {{ component['electrical']['results']['info']['stage'] }}) 
	  <br /><span style="font-size: 50%;">(ObjectId: {{ component['_id'] }})</span></h3>
        {% endif %}
        {% if component['electrical']['plots'] or component['electrical']['plots_light'] %}
        <br>
        {% include "yarr_scans/plot.html" %}
        {% endif %}
	
        {% if component['electrical']['results'] %}
        <br>
        {% include "yarr_scans/result.html" %}
        {% endif %}
	
        {% if component['electrical']['dcs'] %}
        <h4 style="font-size: 10pt;"><i class="fa fa-paint-brush"></i> DCS
          {% if not component['electrical']['dcs']['dcs_data_exist'] %}
            <font color="#ff0000" size="2">### NO DCS DATA ###</font>
          {% else %}
            <a href="{{ url_for('plot_dcs_api.show_dcs', runId=component['electrical']['results']['runId']) }}" target="_brank" rel="noopener noreferrer"> plot </a>
          {% endif %}
        </h4>
        {% endif %}
	
	
	<!-- For Component Properties -->
        {% if component['property']['properties'] %}
	{% set properties = component['property']['properties'] %}
          <br>
          <h3><i class="fa fa-angle-double-right"></i> <b><span style="color: #AAA;">Test:</span> {{ properties['testType'] }}</b> </h3>
	      <h4>(Stage: {{ properties['currentStage'] }})</h4>


          {% if properties['results'] %}
          <br>
            {% if properties['testType'] in component['property']['prop_item']['test'] %}
              {% include component['property']['prop_item']['html'][properties['testType']] %}
            {% endif %}
          {% else %}
          <br>
          <h4 style='font-size: 13pt;'>This result page is being constructed.</h4>
          {% endif %}
        {% endif %}
	
	  <!-- For Component Results -->
        {% if component['qctest']['results'] %}
	  {% set results = component['qctest']['results'] %}
          <br>
          <h3><i class="fa fa-angle-double-right"></i> <b><span style="color: #AAA;">Test:</span> {{ results['testType'] }}</b>
            
              {% if component['qctest']['results']['passed'] %}
              <span class="badge badge-pill badge-success" style="font-size:100%;">QC Passed</span>
              {% else %}
              <span class="badge badge-pill badge-dark" style="font-size:100%;">QC Failed</span>
              {% endif %}
            </strong>
            
          </h3>
          
	  <h4>(Stage: {{ results['currentStage'] }})</h4>
          {% if results['results'] %}
            <br>
	    <!-- The following template html fragments are contained in templates/displayResults. -->
	    <!-- See json-list/supported_test.json for mapping between a Test and the html fragment -->
	    {% set testType = results['testType'] %}
            {% if testType in component['qctest']['test_item']['test'] %}
              {% include component['qctest']['test_item']['html'][ testType ] %}
            {% else %}
              {% include "displayResults/qc_others.html" %}
            {% endif %}
	    
	    {% if results['results']['raw_record'] != None and results['results']['raw_record'] != {} %}
	    {% include "displayResults/rawRecord.html" %}
	    {% endif %}
	    
	    {% if 'prodDB_record' in results %}
	    {% include "displayResults/prodDbRecord.html" %}
	    {% endif %}
	    
          {% else %}
            <br>
            <h4 style='font-size: 13pt;'>This result page is being constructed.</h4>
          {% endif %}
        {% endif %}


	      {% if component['latest_tests'] %}
	      <div style="margin-bottom: 50px;"></div>
		  
              {% include "displayComponent/latest_test_index.html" %}
	      <div style="margin-bottom: 50px;"></div>
	    
              {% endif %}
	      
              {% if component['summary'] %}
              {% include "displayComponent/summary_index.html" %}
              {% endif %}
	      
	      <div id="accordion">
	    
	    <div style="margin-bottom: 50px;"></div>
	    
            {% if component['property']['propIndex'] %}
            {% include "displayComponent/moduleprop_index.html" %}
            {% endif %}
	    
	    
            {% if component['qctest']['resultIndex'] %}
            {% include "displayComponent/qctest_index.html" %}
            {% endif %}

            {% if component['electrical']['resultIndex'] %}
            {% include "displayComponent/test_index.html" %}
            {% endif %}
	    
	    
            {% if component['config_revision'] %}
            {% include "displayComponent/config_index.html" %}
            {% endif %}
	    
	    
            {% include "displayComponent/flow_image.html" %}

	    <!--div class="card">
	      <div class="card-header" id="heading-supportedTests">
		<button class="btn btn-link" data-toggle="collapse" data-target="#collapse-supportedTests" aria-expanded="true" aria-controls="collapse-supportedTests">
		  <h3><i class="fa fa-cog"></i> Supported test items in this system</h3>
		</button>
	      </div>
	      <div id="collapse-supportedTests" class="collapse" aria-labelledby="heading-supportedTests" data-parent="#accordion" >
		<div class="card-body">
		  <ul>
		    {% for description in component['qctest']['test_item']['description'] %}
		    <li style="margin-left:2%">{{ description }}</li>
		    {% endfor %}
		  </ul>
		</div>
	      </div>
	    </div-->
	    
	  </div> <!-- end of accordion -->

	  <h5 style="margin-top: 50px; text-align:center; font-size: 100%;"><a href='{{ url_for('component_api.show_component', id=component['_id'], collection='component' ) }}'>Back to top page of this component</a></h5>

</div>
{% endblock %}
