<style>
a.data:link { color: #3cb371; }
a.data:visited { color: #3cb371; }
a.data:hover { color: #ff8c00; }
a.data:active { color: #dc143c; }
th { background-color: #eeeeff; }
.bg-warning th { background-color: transparent; }
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->
{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

<div class="container">
  <div class="row align-items-top justify-content-left">
    <div class="col">
      
      <h1 style="margin-top: 20px;">{{ m_doc['config_info']['serialNumber'] }} Chip Configuration</h1>
      <h2>Stage: {{ m_doc['config_info']['stage'] | safe }} </h2>
      <h2>Branch: {{ m_doc['config_info']['branch'] | safe }}</h2>
      <h4>Revision: {{ m_doc['config_info']['current_revision_id'] | safe }}</h4>
    </div>
  </div>

  <div class="col align-items-top justify-content-left" style="margin-top: 20px">
  <h2><i class="fa fa-table"></i> Global Config</h2>
  <table>
    <tr>
      {% for chunk in m_doc['config_global_html'] %}
      <td style="vertical-align:top;">{{ chunk | safe }}</td>
      {% endfor %}
    </tr>
  </table>
  </div>
  
  <div class="col align-items-top justify-content-left" style="margin-top: 20px">
  <h2><i class="fa fa-table"></i> Parameter</h2>
  <table>
    <tr>
      {% for chunk in m_doc['config_param_html'] %}
      <td style="vertical-align:top;">{{ chunk | safe }}</td>
      {% endfor %}
    </tr>
  </table>
  </div>

  <div class="col align-items-top justify-content-left" style="margin-top: 20px">
  
  <h2><i class="fa fa-table"></i> PixelConfig</h2>
  {% for key in m_doc['pixelData'] %}
  <a href="{{ m_doc['pixelData'][key] }}"><img src="{{ m_doc['pixelData'][key+'_thumb'] }}"/></a>
  {% endfor %}
  </div>
  
  <div class="col align-items-top justify-content-left" style="margin-top: 20px">
  <h2><i class="fa fa-table"></i> Diff from previous revision <a href="{{ url_for('config_api.show_config', configId = m_doc['configId'], revision = m_doc['prev_revision'] ) }}">{{ m_doc['prev_revision'] }}</a></h2>
  {{ m_doc['diff_html'] | safe }}
  </div>
  
</div>
	      
{% endblock %}
