<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>
{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > Pull module Serial Numbers from ITkPD </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <h1><font color=#000080><i class="fa fa-download"></i> Pull components from ITkPD</font></h1>
      
      <p>Description: With this interface, you can download components from ItkPD to LocalDB.</p>
      <ul>
	<li>Supported component types are limited to: MODULE, PCB, BARE_MODULE, FE_CHIP.</li>
	<li>Please specify one exact serial number of a component.</li>
	<li>Sub-components are recursively pulled.
      </ul>

    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      {% include 'parts/showMessages.html' %}

      <form class="form-holizontal" role="form" method="post" action="{{ url_for('user_api.download_component') }}" accept-charset="UTF-8">
        <br><br>
        <div class="form-group row">
          <label class="col-form-label col-md-3" style="font-size: 140%;">Module Serial Number</label>
          <div class="col-md-9">
            <input type="text" class="form-control" value="{{ component_id }}" placeholder="20UPG..." name="component_id">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3" style="font-size: 140%;">ITkPD Access code 1<font color=#ff0000>*</font></label>
          <div class="col-md-9">
            <input type="password" class="form-control" value="{{ code1 }}" placeholder="Access code 1" name="code1" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3" style="font-size: 140%;">ITkPD Access code 2<font color=#ff0000>*</font></label>
          <div class="col-md-9">
            <input type="password" class="form-control" value="{{ code2 }}" placeholder="Access code 2" name="code2" required="required">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-form-label col-md-3"></label>
          <div class="form-check col-md-9" style="font-size: 140%; margin-left: 20px;">
            <input type="checkbox" class="form-check-input" name="debug_mode" style="font-size: 140%;">
            <label class="form-check-label">Debug Mode (single thread: very slow)</label>
          </div>
        </div>
        
        <div class="from-group row">
          <label class="col-form-label col-md-3"></label>
          <div class="col-md-9">
              <button type="submit" class="btn btn-primary" name="stage" value="submit">Standard Pull (Diff Only)</button>
              <button type="submit" class="btn btn-secondary" name="stage" value="submit|skipAtt">Fast Pull (No Attachments)</button>
              <button type="submit" class="btn btn-secondary" name="stage" value="submit|noSkipSynched">Reset Pull (Resync All : Slow)</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <a href="/localdb/">Back to Top Page</a>
    </div>
  </div>
</div>
{% endblock %}
