<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > ITkPD Authentication</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <h1><font color=#000080><i class="fa fa-download"></i> ITkPD Authentication</font></h1>

      <h5>This action requires an authentication to ITkPD with the executive authority.</h5>
      
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      {% for msg in messages %}
      {% if 'ERROR' in msg %}
      <div class="alert alert-danger" role="alert">{{ msg | safe }}</div>
      {% else %}
      <div class="alert alert-secondary" role="alert">{{ msg | safe }}</div>
      {% endif %}
      {% endfor %}

      <form class="form-horizontal" role="form" method="post" action="{{ url_for('user_api.itkdb_authenticate') }}" accept-charset="UTF-8">
        <br><br>
        <div class="form-group row">
          <label class="col-form-label col-md-3">ITkPD Access code 1<font color=#ff0000>*</font></label>
          <div class="col-md-9">
            <input type="password" class="form-control" value="{{ code1 }}" placeholder="Access code 1" name="code1" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-md-3">ITkPD Access code 2<font color=#ff0000>*</font></label>
          <div class="col-md-9">
            <input type="password" class="form-control" value="{{ code2 }}" placeholder="Access code 2" name="code2" required="required">
          </div>
        </div>
        <input type="hidden" name="stage" value="submit" />
        <div class="from-group row">
          <label class="col-form-label col-md-3"></label>
          <div class="col-md-9">
              <button type="submit" class="btn btn-primary">Authenticate</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <a href="/localdb/">Back to Top Page</a>
    </div>
  </div>
</div>
{% endblock %}
