<!doctype html>
<script type="text/javascript">
function setHide(strName, boolEnable){
    var elems = document.getElementsByName(strName);
    elems.forEach( (elem ) => {
        console.log( elem )
	if (!boolEnable) {
	    elem.style.removeProperty('display');
	} else {
	    elem.style.display='none';
	}
    } );
}
</script>

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<html lang="en">
  {% include "parts/head.html" %}
  <head><title>Database for ITk Pixel Module</title></head>

  <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    {% include "parts/nav.html" %}

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col">

        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}

        </div>
      </div>
    </div>

    {% block body %}{% endblock %}

    {% include "parts/footer.html" %}
    {% include "parts/loader.html" %}
  </body>
</html>
