<style>
table.toppage {
  table-layout: fixed;
}
table.toppage th {
  text-align: center;
  vertical-align: middle;
}
table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
}
table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
}
input[type="radio"] {
  -ms-transform: scale(2.0); /* IE 9 */
  -webkit-transform: scale(2.0); /* Chrome, Safari, Opera */
  transform: scale(2.0);
}
</style>
{% extends "layout.html" %}    <!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}    <!-- layout.htmlのbodyというブロックを以下で置き換える -->

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/"
          style="color:rgba(0, 0, 0, 0.648);">Top Page</a> > <a href="/localdb/components"
          style="color:rgba(0, 0, 0, 0.648);">Component List</a>
        > <a href='{{ url_for('component_api.show_component', id=componentId, collection='component' ) }}'
          style="color:rgba(0, 0, 0, 0.648);"> {{ componentName }}/{{ stage }}</a> > Selection Page
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      <h1>Stage Local Sign-off</h1>

    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      
      <dl class="col">
	<dt>Component Serial Number:</dt><dd>{{ componentName }}</dd>
	<dt>Component Type:</dt><dd>{{ componentType }}</dd>
	<dt>Current Stage:</dt><dd>{{ stage }}</dd>
      </dl>

      {% if processState!='complete' and processState!='delete' and processState != 'nextcomplete' %}
	
	{% if 'title' in table_docs %}
	<h4 style="margin:20px; padding:20px; background-color:#FFC; font-size: 200%; color: #F00;"><i class="fa fa-exclamation-triangle"></i> {{ title }}</h4>
        <!--h2><font color=#000080><i class="fa fa-arrow-right"></i> {{ title }}</font></h2-->
	{% endif %}
	
        {% if page=='pixel_failure_test' %}
          {% include "yarr_scans/select_table.html" %}
          <hr>
        {% endif %}

        {% if page=='source_scan' %}
          {% include "yarr_scans/select_source_table.html" %}
          <hr>
        {% endif %}

        {% if page=='select_test' %}
          {% include "select_QC_table.html" %}
          <hr>
        {% endif %}

      {% elif processState == 'complete' %}
        {% if stage ==  'MODULEPARYLENEUNMASKING' %}
          <form class="form-holizontal" role="form" method="post"
            action="{{ url_for('qc_api.select_test', componentId=componentId, stage=stage) }}"
            accept-charset="UTF-8">
          <h2> The next stage is determined by the module. </h2>
          <h2> Please select next stage. </h2>
          <br>
          <h3> Select Next Stage </h3>
          <select class="form-control" name="nstage" required="required" value="{{ nstage }}">
            <option value="">*** select stage ***</option>
            {% for stage in selectstage %}
            <option value="{{ stage }}">{{ stage }}</option>
            {% endfor %}
          </select>
          {% if not messageText == '' %}
          <p>
          <div class="col-md-2"></div>
            <h3><font color=#ff0000><i class="fa fa-exclamation-triangle "></i> {{ messageText }}</font></h3>
          </p>
          {% endif %}
          <br>

          <button type="submit" class="btn btn-primary" name="processState" value="nextcomplete">Register</button>
          <br>
          </form>

        {% else %}
          <h2> The electrical test results have been checked out in LocalDB.</h2>
          <h2> Please go back to the index page and proceed next tests.</h2>
        {% endif %}

      {% elif processState == 'nextcomplete' %}
        <h2> The current stage was switched to <font color=#000080>{{ nstage }}</font>. </h2>
        <h2> Please go back to module top page and start QC for <font color=#000080>{{ nstage }}</font>! </h2>

      {% elif processState == 'scancomplete' %}
          <h2> The scans were registered for QC results. </h2>

      {% elif processState == 'delete' %}
        <h2> Untaged the QC results of this stage. </h2>
      {% endif %}


      <form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.show_component', id=componentId, collection='component') }}" accept-charset="UTF-8">
	
	
      {% if processState=='complete' %}
      <h5><a href="{{ url_for('component_api.show_component', id=componentId, collection='component') }}" class="btn btn-primary">Stay Local Sign-off Only: Back to the component page</a></h5>
      <h5><a href="{{ url_for('qc_api.result_transceiver', module=componentName, mode='upload_input') }}" class="btn btn-success">Also upload to Production DB</a></h5>
      {% else %}
      <br>
        <button type="submit" class="btn btn-secondary">Return Component Page</button>
      {% endif %}
	
      </form>

    </div>
  </div>
</div>

{% endblock %}
