<div class="container">
  <div class="row align-items-left justify-content-left">
    <div class="col">

      <form class="form-holizontal" role="form" id="table-form" method="post" action="{{ table_docs['page'] }}" accept-charset="UTF-8">
      
      <input type="hidden" name="view" value="" placeholder="View" form="table-form">
	
	<h3><span style="font-size: 50%;">Found {{ table_docs["run"]|length }} scans in LocalDB.
	    {% if table_docs['doShowAll'] == False %}
	    <button class="btn btn-info" style="padding-top: 0; padding-bottom: 0; font-size:90%; margin-bottom: 5pt;" name="showall" value="true" form="table-form">Show All</button>
	    {% else %}
	    <button class="btn btn-info" style="padding-top: 0; padding-bottom: 0; font-size:90%; margin-bottom: 5pt;" name="showall" value="false" form="table-form">Inbox</button>
	    {% endif %}
	  </span> 
	</h3>
	
      <table class="table table-bordered" style="font-size: 11pt;">
        <thead>
	  <tr>
          {% if session['logged_in'] %}
          <th style="word-wrap:break-word; text-align:center;">
	    <input type="hidden" name="view" value="" placeholder="View">
            <button class="btn btn-info" style="padding-top:0; padding-bottom:0; font-size: 90%;" name="archive" value="true" form="table-form">Archive</button>
          </th>
	  {% endif %}
          <th style="word-wrap:break-word; text-align:center;">View</th>
          <th style="word-wrap:break-word; text-align:center;">Module Name<br />(ATLAS SN)</th>
          <th style="word-wrap:break-word; text-align:center;">Chip Name<br />(ATLAS SN)</th>
          <th style="word-wrap:break-word; text-align:center;">Scan</th>
          <th style="word-wrap:break-word; text-align:center;">User</th>
          <th style="word-wrap:break-word; text-align:center;">Site</th>
          <th style="word-wrap:break-word; text-align:center;">Date</th>
          <th style="word-wrap:break-word; text-align:center;">Stage</th>
          <th style="word-wrap:break-word; text-align:left;">
            <div class="balloonoya">
	      Tags <i class="fa fa-question-circle "></i>:
	      <button type="button" class="btn btn-info" onclick="location.href='/localdb/create_tag'" style="padding-top: 0; padding-bottom: 0; font-size:90%; margin-bottom: 5pt;" >Create</button>
              <span class="balloon">
                Create tag with the Link. <br>
                Attach tags with pulldown menu. <br>
                Detach tags by chosing a tag twice.
              </span>
            </div>
          </th>
	  </tr>
        </thead>
        <tbody>
          {% for run_data in table_docs["run"] %}
            {% if run_data['run_data']['plots'] %}
            <tr>
            {% else %}
            <tr style="background: #AABBCC;" name="test-table" disabled="disabled">
            {% endif %}
	    
            {% if session['logged_in'] %}
	    <td style="text-align:left;">
	      <input class="form-check-input" type="checkbox" name="archive_{{ run_data['run_data']['_id'] }}" value="false" form="table-form" style="margin-left: 1rem;width:30px;" />
	    </td>
	    {% endif %}
	    
            <td style="word-wrap:break-word; text-align:center;">
              {% for component in run_data['run_data']['components'] %}
              {% if component['chip_id']=='module' %}
	      {% if component['name'] != '' and component['name'] != None %}
	      <a href="{{ url_for('component_api.show_component', id=component['_id'], collection='component', test='electrical', runId=run_data['run_data']['_id']) }}">
	      {% else %}
	      <a href="{{ url_for('component_api.nomodule_result', test='electrical', runId=run_data['run_data']['_id']) }}">
	      {% endif %}
	      <span class="badge badge-pill badge-secondary" style="font-size:100%;"><i class="fa fa-search"></i> View Scan</span>
	      </a>
	      {% endif %}
	      {% endfor %}
	    </td>
	    
            <td style="word-wrap:break-word; text-align:left;">
              {% for component in run_data['run_data']['components'] %}
              {% if component['chip_id']=='module' %}
              <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection']) }}"><font>{{component['name_delim']}}</font><br></a>
              {% endif %}
              {% endfor %}
            </td>
	    
            <td style="word-wrap:break-word; text-align:left;">
              {% for component in run_data['run_data']['components'] %}
              {% if not component['chip_id']=='module' %}
              {% if component['enabled'] %}
              <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection']) }}"><font>{{component['name_delim']}}</font></a><br>
              {% else %}
              <font color="BBBBBB" style="text-decoration: line-through;">{{component['name_delim']}}</font><br>
              {% endif %}
              {% endif %}
              {% endfor %}
            </td>
	    
            <td style="word-wrap:break-word; text-align:left;">
              {% for component in run_data['run_data']['components'] %}
              {% if component['chip_id']=='module' %}
	      {% if component['name'] != '' and component['name'] != None %}
	      <a href="{{ url_for('component_api.show_component', id=component['_id'], collection='component', test='electrical', runId=run_data['run_data']['_id']) }}">
		{% else %}
		<a href="{{ url_for('component_api.nomodule_result', test='electrical', runId=run_data['run_data']['_id']) }}">
		  {% endif %}
		  {{ run_data['run_data']["testType"] }}
		</a>
		<form method="post" action="" id="form_puttag_header" style="margin-bottom: 0%;">
		  <select name="tag_name" id="puttag_runId_{{run_data['run_data']['_id']}}" onchange="putTag(this.id);" style="display:none;">
		    <option>tmp</option>
		    <option>tmp</option>
		  </select>
		</form>
		{% endif %}
		{% endfor %}
	    </td>
	    
            <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["user"] }}</td>
            <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["site"] }}</td>
            <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["datetime"] }}</td>
            <td style="word-wrap:break-word; text-align:left;">{{ run_data['run_data']["stage"] }}</td>
	    
            <td style="word-wrap:break-word; text-align:left; line-height: 1.5;">
              {% if session['logged_in'] %}
	      <form method="post" action="{{ url_for('tag_api.put_tag') }}" id="form_puttag_runId_{{run_data['run_data']['_id']}}" style="margin-bottom: 0%;">
		<input type="hidden" name="runId" value="{{run_data['run_data']['_id']}}" />
                <select name="tag_name" id="puttag_runId_{{run_data['run_data']['_id']}}" onchange="this.form.submit();" >
                  <option selected="selected" value="">Tag List</option>
                  {% for tag in run_data['run_data']['testRun_tag_candidate'] %}
                  <option value="{{tag['name']}}">{{ tag['name'] }}</option>
                  {% endfor %}
                </select>
	      </form>
              {% endif %}
              {% for tag in run_data['run_data']['testRun_tag'] %}
              <span class="badge badge-pill badge-primary"><i class="fa fa-tag"></i> {{ tag['name'] }}</span><br>
              {% endfor %}
            </td>
	    
            </tr>
            {% endfor %}
        </tbody>
      </table>
      
      </form>
      
      <form action="">
      <p style="font-size: 8pt;" align="right">
        <input type="checkbox" name="chk1" onclick="setHide('test-table', this.checked)" />
        Hide failed test results.
      </p>
      </form>

        <div style="text-align: center; font-size: 14px;">
          <ul class="page-list">
            {% if table_docs['now_cnt']!=0 %}
            <li style="display: inline;">
              <a href="{{ url_for('toppage_api.show_scans', p=0, keywords=table_docs['keywords'], match=table_docs['match']) }}">&#8810;</a>
            </li>
            {% endif %}
            {% for i in table_docs['cnt'] %}
             {% if i==table_docs['now_cnt'] %}
              <li style="display: inline-flex; justify-content: center; align-items: center; flex-flow: column; vertical-align: top; inline; height: 20px; width: 20px; border-radius: 50%; line-height: 20px; background: #FFEEAA; text-align: center; font-size: 14pt">
              {% else %}
              <li style="display: inline;">
              {% endif %}
	              <a href="{{ url_for('toppage_api.show_scans', p=i,keywords=table_docs['keywords'], match=table_docs['match']) }}">{{i+1}}</a>
              </li>
            {% endfor %}
            {% if table_docs['now_cnt']!=table_docs['max_cnt'] %}
            <li style="display: inline;">
              <a href="{{ url_for('toppage_api.show_scans', p=table_docs['max_cnt'],keywords=table_docs['keywords'], match=table_docs['match']) }}">&#8811;</a>
            </li>
            {% endif %}
          </ul>
        </div>
	
    </div>
  </div>
</div>
