<style>
  table.toppage {
  table-layout: fixed;
  }

  table.toppage th {
  text-align: center;
  vertical-align: middle;
  }

  table.toppage td {
  text-align: center;
  vertical-align: middle;
  border: 2px dotted #e1e1e1;
  }

  table.toppage td.border_inner {
  border-right-width: 2px;
  border-right-style: dotted;
  border-right-color: #e1e1e1;
  }
</style>
{% extends "layout.html" %}
<!-- これで元になるHTML(laytout.html)を指定 -->

{% block body %}
<!-- layout.htmlのbodyというブロックを以下で置き換える -->

<style>
  @keyframes fadeOut {
  from {
  opacity: 1;
  }

  to {
  display: none;
  opacity: 0;
  z-index: -1;
  }
  }

  #loader {
  width: 100%;
  height: 100vh;
  background-color: #00c2bc;
  }

  #loader.loaded {
  animation: fadeOut 3s forwards;
  }

  .spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  }

  .cube1,
  .cube2 {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
  }

  .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  }

  @-webkit-keyframes sk-cubemove {
  25% {
  -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
  }

  50% {
  -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
  }

  75% {
  -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
  }

  100% {
  -webkit-transform: rotate(-360deg)
  }
  }

  @keyframes sk-cubemove {
  25% {
  transform: translateX(42px) rotate(-90deg) scale(0.5);
  -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  50% {
  transform: translateX(42px) translateY(42px) rotate(-179deg);
  -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  50.1% {
  transform: translateX(42px) translateY(42px) rotate(-180deg);
  -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  75% {
  transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  100% {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
  }
  }
</style>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;">
	<a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);">Top Page</a> >
	<a href="/localdb/components" style="color:rgba(0, 0, 0, 0.648);">Component List</a> >
	<a href='{{ url_for('component_api.show_component', id=doc['_id'], collection='component' ) }}' style="color:rgba(0, 0, 0, 0.648);">Component</a>
	{% if "local" in doc['mode'] %}
	> <a href='{{ url_for('qc_api.switch_stage', module=doc['module'], id=doc['_id'], stage='option' ) }}' style="color:rgba(0, 0, 0, 0.648);">Customize Module Stage</a> > Change current stage in LocalDB
	{% elif "itkpd" in doc['mode'] %}
	> <a href='{{ url_for('qc_api.switch_stage', module=doc['module'], id=doc['_id'], stage='option' ) }}' style="color:rgba(0, 0, 0, 0.648);">Customize Module Stage</a> > Customize stage flow in LocalDB
	{% else %}
	> Change Module Stage
	{% endif %}
      </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1>Switch Component Stage</h1>
      {% if doc['module'] %}
      <dl>
	<dt>Module SN:</dt><dd>{{ doc['module'] }}</dd>
	<dt>Current Stage:</dt><dd>{{ doc["currentStage"] }}</dd>
      </dl>
      {% endif %}
    </div>
  </div>
  <br>

  {% if doc['mode'] == "local_input" %}

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col">

	<form class="form-holizontal" role="form" method="post"
	      action="{{ url_for('qc_api.switch_stage', module=doc['module']) }}"
	      accept-charset="UTF-8">
	  
	  <h3><i class='fa fa-random'></i> Switch to an alternative stage</h3>
	  
	  <div class="col">
	  <select class="form-control" style="width: 400px;" name="destStage" id=required="required" value="{{ destStage }}">
	    {% for stage in doc["alternatives"] %}
	    {% if stage != doc['currentStage'] %}
	    <option value="{{ stage }}">{{ stage }}</option>
	    {% else %}
	    <option value="{{ stage }}" selected disabled>{{ stage }}</option>
	    {% endif %}
	    {% endfor %}
	  </select>
	  </div>
	  
	  <div class="col" style="margin-top: 10px;">
	    <button type="submit" class="btn btn-warning" name="mode" value="local_complete">Switch the stage</button>
	  </div>
	  
	  <br>
	  {% if doc["text"] == "Please select stage from pull-down menu..." %}
	  <h2>
	    <font color="red"><i class="fa fa-warning"></i> {{ doc["text"] }}</font>
	  </h2>
	  {% elif doc["text"] != "" %}
	  <h2>
	    <font color="blue">{{ doc["text"] }}</font>
	  </h2>
	  {% endif %}

	</form>
	
	<form class="form-holizontal" role="form" method="post"
	      action="{{ url_for('qc_api.switch_stage', module=doc['module']) }}"
	      accept-charset="UTF-8">
	  
	  <h3 class="text-danger"><i class='fa fa-exclamation-triangle'></i> Exceptional use only!! Select the stage to jump</h3>
	  
	  <div class="col">
	  <select class="form-control" style="width: 400px;" name="destStage" id=required="required" value="{{ destStage }}">
	    {% for stage in doc["stages"] %}
	    {% if stage != doc['currentStage'] %}
	    <option value="{{ stage }}">{{ stage }}</option>
	    {% else %}
	    <option value="{{ stage }}" selected disabled>{{ stage }}</option>
	    {% endif %}
	    {% endfor %}
	  </select>
	  </div>
	  
	  <div class="col" style="margin-top: 10px;">
	    <button type="submit" class="btn btn-danger" name="mode" value="local_complete">I understand the meaning of this action and switch the stage</button>
	  </div>
	  
	  <br>
	  {% if doc["text"] == "Please select stage from pull-down menu..." %}
	  <h2>
	    <font color="red"><i class="fa fa-warning"></i> {{ doc["text"] }}</font>
	  </h2>
	  {% elif doc["text"] != "" %}
	  <h2>
	    <font color="blue">{{ doc["text"] }}</font>
	  </h2>
	  {% endif %}

	</form>
	<form class="form-holizontal" role="form" method="post"
	      action="{{ url_for('component_api.show_component', id=doc['_id'], collection='component') }}"
	      accept-charset="UTF-8">
	  <button type="submit" class="btn btn-primary" name="mode" value="local_complete">Back to the component page</button>
	</form>
	<br>
      </div>
    </div>
  </div>

  {% endif %}

</div>
<br>

{% endblock %}
