<style>
th { background-color: #eeeeff; }
</style>
{% extends "layout.html" %}

{% block body %}

<div class="container">
  {% include 'parts/showMessages.html' %}

  <div class="row align-items-center justify-content-center">
    
    <div class="col">
      {% if table_docs['page'] == None %}
        <h1>Top Page of LocalDB Viewer</h1>
      {% else %}
        <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > {{table_docs['title']}} </h1>
        <h1>{{ table_docs['title'] }}</h1>
      {% endif %}

    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">


      {% if table_docs['page'] == 'components' or table_docs['page']=='yarr_scans' %}
        <form class="form-holizontal" role="form" method="get" action="{{ table_docs['page'] }}" accept-charset="UTF-8">
          <h5>
          <input type="hidden" name="view" value="{{ table_docs['view'] }}" placeholder="View">
          <input type="search" name="keywords" value="{{ table_docs['keywords'] }}" placeholder="Input keywords">
          {% if table_docs['match'] == 'perfect' %}
            <input type="radio" name="match" value="partial"> Partial match
            <input type="radio" name="match" value="perfect" checked > Perfect match
          {% else %}
            <input type="radio" name="match" value="partial" checked > Partial match
            <input type="radio" name="match" value="perfect"> Perfect match
          {% endif %}
          <button type="submit" class="btn btn-primary" style="padding-top: 0.05%; padding-bottom: 0.05%;">Search</button>
          </h5>
        </form>
        {% if table_docs['page']=='components' %}
          {% include "components_table.html" %}
        {% elif table_docs['page']=='yarr_scans' %}
          {% include "scan_table.html" %}
        {% endif %}
        <hr>
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col">
              <a href="/localdb/">Back to Top Page</a>
            </div>
          </div>
        </div>

        <br>
      {% elif table_docs['page']=='module' %}
        {% include "assemble_module.html" %}
      {% endif %}

    </div>
  </div>
</div>

{% if table_docs['page'] == None %}
<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      
      {% if session['logged_in'] %}
      <h2><i class="fa fa-briefcase"></i> QC Test Dashboard</h2>
      <h4>&nbsp;<a href="{{ url_for('toppage_api.assemble_module')}}"><i class="fa fa-gears"></i> Assemble a new Module @ ITkPD</a></h4>
      <h4>&nbsp;<a href="{{ url_for('qc_api.upload_qcTests') }}"><i class="fa fa-upload "></i> Upload QC Test RAW Results to LocalDB</a></h4>
      <h4>&nbsp;<a href="{{ url_for('user_api.download_component') }}"><i class="fa fa-download"></i> Pull components from ITkPD</a></h4>
      <br />
      {% endif %}
      
      <h2><i class="fa fa-search"></i> Browse LocalDB</h2>
      <h4>&nbsp;<a href="{{ url_for('toppage_api.show_comps', view='module') }}"><i class="fa fa-database "></i> Browse Modules</a></h4>
      <h4>&nbsp;<a href="{{ url_for('toppage_api.show_comps', view='module_pcb') }}"><i class="fa fa-database "></i> Browse PCBs</a></h4>
      <h4>&nbsp;<a href="{{ url_for('toppage_api.show_comps', view='bare_module') }}"><i class="fa fa-database "></i> Browse Bare Modules</a></h4>
      <h4>&nbsp;<a href="{{ url_for('toppage_api.show_comps', view='sensor_tile') }}"><i class="fa fa-database "></i> Browse Sensor Tiles</a></h4>
      <h4>&nbsp;<a href="{{ url_for('toppage_api.show_scans')}}"><i class="fa fa-database "></i> Browse Electrical Scans</a></h4>
      <h4>&nbsp;<a href="{{ url_for('qc_api.compare_tests') }}"><i class="fa fa-database "></i> (Experimental) Compare Tests</a></h4>
      {% if session['logged_in'] %}
      <br />
      <h2><i class="fa fa-wrench"></i> Customize LocalDB</h2>
      <h4>&nbsp;<a href="{{ url_for('tag_api.create_tag') }}"><i class="fa fa-tag"></i> Create a new tag</a></h4>
      <h4>&nbsp;<a href="{{ url_for('user_api.rename_sn')}}"><i class="fa fa-wrench"></i> Change components attached to scans</a></h4>
      <h4>&nbsp;<a href="{{ url_for('user_api.scan_stage')}}"><i class="fa fa-wrench"></i> Re-arrange scans to other stages</a></h4>
      <!--<a href="{{ url_for('toppage_api.download_allresult') }}"><h4 style="font-size: 12pt;"><i class="fa fa-cog"></i> Download all results from ITkPD</h4></a>-->
      <br>

      {% if table_docs["admin"] == "admin" %}
      <br>
      <h2>Administrate LocalDB</h2>
      <h4>&nbsp;<a href="{{ url_for('user_api.download_pdinfo')}}"><i class="fa fa-gears"></i> Initial data sync with ITkPD</a></h4>
      <h4>&nbsp;<a href="{{ url_for('qc_api.site_qualification')}}"><i class="fa fa-id-badge"></i> Request site qualification Block 2</a> and <a href="https://docs.google.com/forms/d/e/1FAIpQLSdyJS2zKJ7-vVVUzD6VRvzgwXmHT93BlB3JrawC8njlbYOsPg/viewform">Questionnaire</a></h4>
      {% if mail %}
      <h4>&nbsp;<a href="{{ url_for('user_api.check_mail')}}"><i class="fa fa-envelope"></i> Check mail sending function</a></h4>
      {% endif %}

      <h4>&nbsp;<a href="{{ url_for('user_api.signup')}}"><i class="fa fa-vcard"></i> Account Creation</a></h4>
      {% if not mail %}
      <h4>&nbsp;<a href="{{ url_for('user_api.register_password_from_admin')}}"><i class="fa fa-gears"></i> Issue password for LocalDB Users</a></h4>
      {% endif %}
      {% endif %}
      {% endif %}
      <br>

    </div>
  </div>
</div>
{% endif %}

{% endblock %}
