<div class="card">
  <div class="card-header" id="heading-configRevisions">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-configRevisions" aria-expanded="true" aria-controls="collapse-configRevisions">
      <h3><i class="fa fa-database"></i> Config Revisions</h3>
    </button>
  </div>
  <div id="collapse-configRevisions" class="collapse" aria-labelledby="heading-configRevisions" data-parent="#accordion" >
    <div class="card-body">

      {% for stage, branches in component['config_revision'].items() %}
      <div>
      <h4>Stage: {{ stage }}</h4>
      {% if branches | length > 0 %}
      {% for branch, revisions in branches.items() %}
      {% set prev_stage = revisions['prev_stage'] %}
      <div style="padding-left: 20px;">
      <h5>Mode: {{ branch }}</h5>
      <table id="revisionTable" class="table table-sm table-hover table-bordered" style="font-size: 10pt;">
	    <thead>
          <tr>
            <th class="text-left">Index</th>
            <th class="text-left">Revision ID</th>
            <th class="text-left">Timestamp</th>
            <th class="text-left">Message</th>
          </tr>
	    </thead>
	    <tbody>
          {% for revision, contents in revisions.items() %}
          
          {% if revision != 'prev_stage' %}
          
          {% set prev_branch = component['config_revision'][prev_stage][branch] if branch in component['config_revision'][prev_stage] else None %}
          {% if not prev_branch %}
          <tr id="{{ revision }}">
            {% if loop.index == 2 %}
            <td>HEAD</td>
            {% else %}
            <td>HEAD^{{loop.index-2}}</td>
            {% endif %}
            <td style="word-wrap:break-word;"><a href="{{ url_for('config_api.show_config', configId = contents['configId'], revision = revision ) }}">{{ revision[:4] }}...{{ revision[-6:] }}</a></td>
            <td style="word-wrap:break-word;">{{ contents['timestamp'] }}</td>
            <td style="word-wrap:break-word;">{{ contents['message'] }}</td>
          </tr>
          {% elif not revision in prev_branch %}
          <tr id="{{ revision }}">
            {% if loop.index == 2 %}
            <td>HEAD</td>
            {% else %}
            <td>HEAD^{{loop.index-2}}</td>
            {% endif %}
            <td style="word-wrap:break-word;"><a href="{{ url_for('config_api.show_config', configId = contents['configId'], revision = revision ) }}">{{ revision[:4] }}...{{ revision[-6:] }}</a></td>
            <td style="word-wrap:break-word;">{{ contents['timestamp'] }}</td>
            <td style="word-wrap:break-word;">{{ contents['message'] }}</td>
          </tr>
          {% elif loop.index == 2 %}
          <tr id="{{ revision }}">
            <td>HEAD</td>
            <td style="word-wrap:break-word;"><a href="{{ url_for('config_api.show_config', configId = contents['configId'], revision = revision ) }}">{{ revision[:4] }}...{{ revision[-6:] }}</a></td>
            <td style="word-wrap:break-word;">{{ contents['timestamp'] }}</td>
            <td style="word-wrap:break-word;">{{ contents['message'] }}</td>
          </tr>
          {% endif %}
          
          {% endif %}
          {% endfor %}
	    </tbody>
      </table>
      </div>
      {% endfor %}
      {% endif %}
      </div>
      {% endfor %}
      
    </div>
  </div>
</div>


