<div class="card">
  <div class="card-header" id="heading-qcflow">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-qcflow" aria-expanded="true" aria-controls="collapse-qcflow">
      <h3><i class="fa fa-database"></i> Check QC Flow</h3>
    </button>
  </div>
  <div id="collapse-qcflow" class="collapse" aria-labelledby="heading-qcflow" data-parent="#accordion" >
    <div class="card-body">
      <table class="table-hover table-bordered" style="font-size: 100%;">
	<tr><th>Stage</th><th>Tests</th></tr>
	{% for stage, tests in component['qctest']['menu'].items() %}
	<tr>
	  <td>{{ stage }}</td>
	  <td>
	    <ul>
	      {% for test in tests %}
	      <li>{{ component['qctest']['test_items'][test] }}&nbsp;&nbsp;({{ test }})</li>
	      {% endfor %}
	    </ul>
	  </td>
	</tr>
	{% endfor %}
      </table>
    </div>
  </div>
</div>

