<h3><i class="fa fa-file-text-o"></i> <span style="font-size: 70%;">Current Stage:</span> {% if component['info']['stage'] in component['stageInfo']['stages'] %}{{ component['stageInfo']['stages'][ component['info']['stage'] ] }}{% else %}<span style="color:red"><br />ERROR: Stage code &quot;{{ component['info']['stage'] }}&quot; is not defined for this component Type!</span>{% endif %}</h3>
{% if session['logged_in'] and component['info']['parents'] | length == 0 %}
<p>
  <table style="border: none; padding-left: 20px;">
	<tr style="border:none;">
	  <td><div class="balloonoya" style="padding-left: 20px;">
	      {% if component['info']['stage'] != component['stageInfo']['stage_flow'][-1] %}
	      <a href="{{ url_for('qc_api.select_test', componentId=component['_id'], stage=component['info']['stage'])}}">
		    <button type="button" class="btn btn-primary"><i class="fa fa-check-square-o "></i> Stage Sign-off</button>
	      </a>
	      <span class="balloon" style="padding: 10px; font-size:130%;">
		    After all Tests are filled, You proceed to sign-off. You can do sign-off with imperfect set of Tests when you have issues not able to carry out some Tests.
	      </span>
	      {% else %}
		  <button type="button" class="btn btn-info" disabled><i class="fa fa-check-square-o "></i> Stage Sign-off</button>
	      <span class="balloon" style="padding: 10px; font-size:130%;">
		    Cannot sign-off anymore -- This is the last stage of this component.
	      </span>
	      {% endif %}
	  </div></td>
	  <td><div class="balloonoya">
	      <a href="{{ url_for('qc_api.switch_stage', module=component['info']['name'])}}">
		    <button type="button" class="btn btn-warning" style="margin-left:10px;"><i class="fa fa-gears"></i> Switch Stage</button>
	      </a>
	      <span class="balloon" style="padding: 10px; font-size:130%;">
		    In case you need to jump the stage, press this button and proceed.
	      </span>
	  </td>
  </tr></table>
</p>
{% endif %}

<div class="row align-items-top">
  <div style="padding-left: 30px;">
    {% if component["latest_tests"]["results"] %}
    <table class="table table-sm table-bordered" style="width:900px;">
      <thead class="bg-warning">
        <tr>
          <th scope="col" class="text-left">Test Type</th>
          <th scope="col" class="text-left">Local Result</th>
	      {% if session['logged_in'] %}
          <th scope="col" class="text-left">Action</th>
	      {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for test in component["latest_tests"]["results"] %}
        <tr>
          <td style="">{{ component['qctest']['test_items'][test['name']] }}<br /><span style="color: #ccc;">({{ test["name"] }})</span></td>
	      
          {% if test["runId"] %}
	      <td style="background-color:rgb(204, 255, 223); font-size:150%;">
	        <!-- Result is registered -->
            <div class="balloonoya">
		      <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest', runId=test['runId']) }}" class="badge badge-pill badge-success">TestRun Present</a>
		      <span class="balloon">
		        At least one candidate TestRun is registered in LocalDB.
		      </span>
	        </div>
            {% else %}
	      <td style="background-color:#fcc; font-size:150%;">
	        <!-- Result is not registered yet -->
            <div class="balloonoya">
		      <span class="badge badge-pill badge-warning" style="border:1px solid #000;">No TestRun!</span>
		      <span class="balloon">
		        TestRun is missing in LocalDB.
		      </span>
	        </div>
            {% endif %}
	      </td>
	      
	      {% if session['logged_in'] %}
          {% if test["runId"] %}
	      <td style="background-color:rgb(204, 255, 223); font-size:150%;">
	        {% else %}
	      <td style="background-color:#fcc; font-size:150%;">
	        {% endif %}
	        {% if session['logged_in'] %}
	        
	        
	        {% if component['info']['type'] == 'module' %}
            {% if test["scan_selection"] %}
	        <a href="{{ url_for('checkout_api.pixel_failure_test', componentID=component['_id'], stage=component['info']['stage'], test=test['name'])}}">
	          <button type="button" class="btn btn-success" style="font-size: 70%;">Checkout Scans</button>
	        </a>
	        {% elif "SUMMARY" in test['name'] %}
            <a href="{{ url_for('qc_api.create_summary', component=component['_id'], stage=component['info']['stage'], test=test['name']) }}">
	          <button type="button" class="btn btn-success" style="font-size: 70%;"> Create Summary </button>
	        </a>
	        {% elif "VISUAL_INSPECTION" in test['name'] or "IV_MEASURE" in test['name'] or "FLATNESS" in test['name'] or "METROLOGY" in test['name'] or "WIREBOND_PULL_TEST" in test['name'] %}
	        <span style="font-size:90%;">&nbsp;(Submit TestRun via module-qc-nonelec-gui)</span>
            
	        {% else %}
	        <a href="{{ url_for('qc_api.input_qcTests', componentID=component['_id'], componentType=component['info']['type'], stage = component['info']['stage'], testType=test['name']) }}">
	          <button type="button" class="btn btn-secondary" style="font-size: 70%;"> Manual Input</button>
	        </a>
            {% endif %}
	        
	        {% else %}

	        {% if "MIN_HEALTH_TEST" in test['name'] or "TUNING" in test['name'] or "PIXEL_FAILURE_ANALYSIS" in test['name'] %}
	        <a href="{{ url_for('checkout_api.pixel_failure_test', componentID=component['_id'], stage=component['info']['stage'], test=test['name'])}}">
	          <button type="button" class="btn btn-success" style="font-size: 70%;">Checkout Scans</button>
	        </a>
            {% else %}
	        <a href="{{ url_for('qc_api.upload_qcTests') }}">
	          <button type="button" class="btn btn-success" style="font-size: 70%;"> Submit RAW Result</button>
	        </a>
            {% endif %}
            
	        {% endif %}
	        
	        {% endif %}
          </td>
	      {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <h4 style="margin-left: 0; padding-left: 0;"><i class="fa fa-file-text-o"></i> Candidate TestRuns of this Stage</h4>
    <table id="qcTable" class="table table-sm table-hover table-bordered" style="margin-left: 0;">
      {% if component['qctest']['resultIndex'] | length > 0 %}
      <thead>
	    <tr>
	      <th class="text-left">LocalDB Object ID   </th>
	      <th class="text-left">TestRun Code </th>
	      <th class="text-left">QC Passed </th>
	      <th class="text-left">Inspector </th>
	      <th class="text-left">Date      </th>
	      <th class="text-left">Analysis Version</th>
	      <th class="text-left">QC Registration </th>
	    </tr>
      </thead>
      {% endif %}
      <tbody>
	    {% for run in component['qctest']['resultIndex'] %}
        {% if component['info']['stage'] == run['currentStage'] %}
	    <tr>
          <td align="left">
            <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest' , runId=run['_id']) }}">{{ run['_id'] }}</a>
          </td>
          <td align="left" style="word-wrap:break-word;">{{ run['testType'] }}</td>
          <td align="left" style="word-wrap:break-word;">{%if run['QC_passed'] == True %}<span class="badge badge-pill badge-success" style="font-size:100%;">Passed</span>{% elif run['QC_passed'] == False %}<span class="badge badge-pill badge-dark" style="font-size:100%;">Failed</span>{% else %}<span class="badge badge-pill badge-light" style="font-size:100%;">N/A</span>{% endif %}</td>
          <td align="left">{{ run['user'] }}</td>
          <td align="left">{{ run['datetime'] }}</td>
          <td align="left">{{ run['analysis_version'] }}</td>
          {% if run["QC_result"] %}
          <td align="left"><span class="badge badge-pill badge-primary">Selected</span></td>
          {% else %}
          <td align="left"></td>
          {% endif %}
	    </tr>
        {% endif %}
	    {% endfor %}
      </tbody>
    </table>

    {% else %}
    <h4><span style="color:red"> No tests are allocated for this stage.</span></h4>
{% endif %}
</div>

</div>
