<div class="card">
  <div class="card-header" id="heading-qcTests">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-qcTests" aria-expanded="true" aria-controls="collapse-qcTests">
      <h3><i class="fa fa-database"></i> All Registered QC Tests</h3>
    </button>
  </div>
  <div id="collapse-qcTests" class="collapse" aria-labelledby="heading-qcTests" data-parent="#accordion" >
    <div class="card-body">
      
      <table id="qcTable" class="table table-sm table-hover table-bordered">
	<thead>
	  <tr>
	    <th class="text-left">LocalDB Test ID   </th>
	    <th class="text-left">Stage     </th>
	    <th class="text-left">Test Name </th>
	    <th class="text-left">Inspector </th>
	    <th class="text-left">Date      </th>
	    <th class="text-left">QC Registration </th>
	  </tr>
	</thead>
	<tbody>
	  {% for run in component['qctest']['resultIndex'] %}
	  <tr>
            <td align="left">
              <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest' , runId=run['_id']) }}">{{ run['_id'] }}</a>
            </td>
            <td align="left">{{ run['currentStage'] }}</td>
            <td align="left" style="word-wrap:break-word;">{{ run['testType'] }}</td>
            <td align="left">{{ run['user'] }}</td>
            <td align="left">{{ run['datetime'] }}</td>
            {% if run["QC_result"] %}
            <td align="left"><span class="badge badge-pill badge-primary">Selected</span></td>
            {% else %}
            <td align="left"></td>
            {% endif %}
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
      
    </div>
  </div>
</div>
</div>

