<hr />

<h2><i class="fa fa-file-text-o"></i> Past QC Stages and Results
  {% if session['logged_in'] %}
  {% if component['info']['type'] == 'module' %}
  <i class="fa fa-angle-double-right"></i>
  <a href="{{ url_for('qc_api.result_transceiver', module=component["info"]["name"], mode='upload_input' )}}" class="btn btn-primary btn-sm" role="button" style="font-size: 70%;">Submit to ITkPD</a>
  {% endif %}
  {% endif %}
</h2>

<div class="row align-items-top">
  <div class="col">
    {% for stage in component["summary"] | reverse %}
    <h4 style="padding-left: 20px;"><i class="fa fa-list"></i>&nbsp;<span style="font-size:70%;">Stage:</span> {{ component['stageInfo']['stages'][ stage ] }} <span style="color: gray; font-size: 70%;">({{ stage }})</span>
      {% if not component["upload_status"][stage] or component["upload_status"][stage] == "-2" %}
      <font style="color:rgb(255, 0, 0);">Not signed-off <i class="fa fa-frown-o "></i></font>
      {% elif component["upload_status"][stage] == "0" or component["upload_status"][stage] == "1" %}
      <span class="badge badge-pill badge-success"><i class="fa fa-check-square-o "></i> Complete</span>
      {% else %}
      <span class="badge badge-pill badge-warning"><i class="fa fa-check"></i> Locally Signed Off</span>
      {% endif %}
    </h4>

      {% set stageAlt = stage.replace("/","_") %}
      {% if component["summary"][stage] | length > 0 %}
      <div style="margin-left: 2%; margin-top: 10px; margin-bottom: 10px;">
	<a class="btn btn-info" data-toggle="collapse" href="#summaryRecord_{{stageAlt}}" role="button" aria-expanded="false" aria-controls="summaryRecord_{{stageAlt}}">
	  Expand Results
	</a>
      </div>
      {% endif %}
    
    <div class="collapse" id="summaryRecord_{{stageAlt}}">
      <div class="card card-body">
	<table class="table table-bordered" style="font-size: 80%; margin-left: 3%; width: 500px;">
	  {% if component["summary"][stage] | length > 0 %}
	  <thead><th>Test</th><th>Local Result</th><th>ProdDB Record</th></thead>
	  {% endif %}
	  <tbody>
	    {% for test in component["summary"][stage] %}
	    <tr>
	      <td>{{ component['qctest']['test_items'][test] }}<br /><span style="color: #ccc;">({{ test }})</span></td>
	      {% if component["summary"][stage][test] == "-1" %}
	      <td align="center" style="word-wrap:break-word; background-color:rgba(255, 204, 204, 0.75); font-size: 150%;">
		<div class="balloonoya">
		  <span class="badge badge-pill badge-info">No result</span>
		  <span class="balloon">
		    Test is missing in LocalDB.
		  </span>
		</div>
	      </td>
	      {% elif component["upload_status"][stage] == '0' or component["upload_status"][stage] == '1' %}
	      <td align="center" style="word-wrap:break-word; background-color:rgba(204, 255, 223, 0.75); font-size: 150%;">
		<div class="balloonoya">
		  <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest', runId=component['summary'][stage][test]) }}"><span class="badge badge-pill badge-success"><i class="fa fa-check-square-o "></i> Registered</span></a>
		  <span class="balloon">
		    Jump to the LocalDB Test Record!
		  </span>
		</div>
	      </td>
	      {% else %}
	      <td align="center" style="word-wrap:break-word; background-color:rgba(255, 242, 204, 0.75); font-size: 150%;">
		<div class="balloonoya">
		  <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'], test='qctest', runId=component['summary'][stage][test]) }}"><span class="badge badge-pill badge-success"><i class="fa fa-check-square "></i> Registered</span></a>
		  <span class="balloon">
		    Test is registered in LocalDB.
		  </span>
		</div>
	      </td>
	      {% endif %}
	      {% if component["summary_pdb"][stage][test] == "-1" %}
	      <td align="center" style="word-wrap:break-word; background-color:rgba(255, 204, 204, 0.75); font-size: 150%;">
		<div class="balloonoya">
		  <span class="badge badge-pill badge-info">N/A</span>
		  <span class="balloon">
		    Test is not pushed to ITkPD.
		  </span>
		</div>
	      </td>
	      {% else %}
	      <td align="center" style="word-wrap:break-word; background-color:rgba(204, 255, 223, 0.75); font-size: 150%;">
		<div class="balloonoya">
		  <a href="https://uuappg01-eu-w-1.plus4u.net/ucl-itkpd-maing01/dcb3f6d1f130482581ba1e7bbe34413c/testRunView?id={{ component['summary_pdb'][stage][test] }}"><span class="badge badge-pill badge-success" title="Test Tooltip"><i class="fa fa-external-link "></i> Registered</span></a>
		  <span class="balloon">
		    Jump to the ITkPD TestRun Page!
		  </span>
		</div>
	      </td>
	      {% endif %}
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      
    </div>

    {% if component["summary"][stage] | length == 0 %}
    <h4 style="padding-left: 30px;"><span style="color:red; font-size:75%;"> No tests are allocated for this stage.</span></h4>
    {% endif %}
    
    {% endfor %}
  </div>
</div>

