<div class="card">
  <div class="card-header" id="heading-allScans">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-allScans" aria-expanded="true" aria-controls="collapse-allScans">
      <h3><i class="fa fa-database"></i> All YARR Scans</h3>
    </button>
  </div>
  <div id="collapse-allScans" class="collapse" aria-labelledby="heading-allScans" data-parent="#accordion" >
    <div class="card-body">
      
      <div style="width:100%;">
	<form action="">
	  <p style="font-size: 10pt;">
            <input type="checkbox" name="chk1" onclick="setHide('test-failed', this.checked)" checked />
            Hide failed test results.
	  </p>
	</form>
	<form action="">
	  <p style="font-size: 10pt;">
            <input type="checkbox" name="chk2" onclick="setHide('test-archived', this.checked)" checked />
            Hide archived test results.
	  </p>
	</form>
      </div>

      <table id="elTable" class="table table-sm table-hover table-bordered" style="font-size: 8pt;">
	<thead>
          <tr>
            <th class="text-left">Run Number </th>
            <th class="text-left">Test Type  </th>
            <th class="text-left">Stage      </th>
            <th class="text-left">User       </th>
            <th class="text-left">Site       </th>
            <th class="text-left">Date       </th>
            <th class="text-left">Tags       </th>
          </tr>
	</thead>
	<tbody>
          {% for run in component['electrical']['resultIndex'] %}
          {% if 'archived' in run['tags'] %}
          <tr style="background: #AABBCC; display: none;" name="test-archived" id="{{ run['runNumber'] }}">
          {% elif run['result'] %}
          <tr id="{{ run['runNumber'] }}">
          {% else %}
          <tr style="background: #AABBCC; display: none;" name="test-failed" id="{{ run['runNumber'] }}">
          {% endif %}
            <td style="word-wrap:break-word;">
              <a href="{{ url_for('component_api.show_component', id=component['_id'], collection=component['collection'],test='electrical', runId=run['_id']) }}">{{ run['runNumber'] }}</a>
            </td>
            <td style="word-wrap:break-word;">{{ run['testType'] }}</td>
            <td style="word-wrap:break-word;">{{ run['stage'] }}</td>
            <td style="word-wrap:break-word;">{{ run['user'] }}</td>
            <td style="word-wrap:break-word;">{{ run['site'] }}</td>
            <td style="word-wrap:break-word;">{{ run['datetime'] }}</td>
	    <td>
	      {% for tag in run['tags'] %}
	      <span class="badge badge-pill badge-primary"><i class="fa fa-tag"></i> {{ tag }}</span>
	      {% endfor %}
	    </td>
          </tr>
          {% endfor %}
	</tbody>
      </table>

    </div>
  </div>
</div>


