<style>
    input[type="checkbox"].data {
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    }
    input[type="checkbox"].data + label {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #ffffff;
    }
    input[type="checkbox"].data:checked + label {
    margin: 0px;
    padding: 0px;
    border: none;
    color: #3cb371;
    background-color: #ffffff;
    }
    input[type="checkbox"].data:checked + label:hover {
    margin: 0px;
    padding: 0px;
    color: #3cb371;
    border: none;
    background-color: #ffffff;
    }
    label.data {
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
    color: #dddddd;
    background-color: #ffffff;
    border: none;
    }
    table.toppage {
      table-layout: fixed;
    }
    table.toppage th {
      text-align: center;
      vertical-align: middle;
    }
    table.toppage td {
      text-align: center;
      vertical-align: middle;
      border: 2px dotted #e1e1e1;
    }
    table.toppage td.border_inner {
      border-right-width: 2px;
      border-right-style: dotted;
      border-right-color: #e1e1e1;
    }
    </style>
    
    <div class='row align-items-top justify-content-left'>
      <div class='col-sm-2' align="left"  style="width: 20%;">
        <form role="form" method="post"
              action="{{ url_for('component_api.download_json' ) }}"
              accept-charset="UTF-8">
          <input type="hidden" name="path" value="{{ component['qctest']['results']['result_json'] }}" />
          <button class="btn btn-primary" type="submit" type="button">Download TestRun</button>
        </form>
      </div>
      
      {% if 'property' in component['qctest']['results']['results'] %}
        {% set ana_version = component['qctest']['results']['results']['property']['ANALYSIS_VERSION'] %}
      {% elif 'property' in component['qctest']['results']['results'] %}
        {% set ana_version = component['qctest']['results']['results']['properties']['ANALYSIS_VERSION'] %}
      {% else %}
        {% set ana_version = '' %}
      {% endif %}
      
      {% if session['logged_in'] and (True or table_docs['mqat_version'] != ana_version) and component['qctest']['results']['rawId'] %}
      <div class='col-sm-2' align="left">
        <form role="form" method="post"
              action="{{ url_for('qc_api.recycle_analysis' ) }}"
              accept-charset="UTF-8">
          <input type="hidden" name="test_run_id" value="{{ component['qctest']['results']['id'] }}" />
          <input type="hidden" name="serial_number" value="{{ component['info']['name'] }}" />
          <button class="btn btn-warning" type="submit" type="button">Recycle Analysis</button><p>(Server's version: {{ table_docs['mqat_version'] }})</p>
        </form>
      </div>
      {% endif %}
    </div>
              
    <h4><strong>Basic View Only:</strong> custom view for this TestRun is not prepared.</h4>
    <div class='row align-items-top justify-content-left'>
      <div class='col-md-6'>
        <h4>
        {% if component['qctest']['results'] %}
          <i class='fa fa-file'></i> Metadata
        {% endif %}
        </h4>
        {% if component['qctest']['results'] %}
            <table class='table table-sm table-bordered' style='font-size: 10pt;'>
              <thead class='table-light'>
                <tr>
                  <th scope='col' class='text-left'>Key</th>
                  <th scope='col' class='text-left'>Data</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope='row' class='text-left'>QC Passed</td>
                  <td class='text-left'>{{ component['qctest']['results']['passed'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>Date</td>
                  <td class='text-left'>{{ component['qctest']['results']['datetime'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>component ObjectId</td>
                  <td class='text-left'>{{ component['qctest']['results']['component'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>Stage</td>
                  <td class='text-left'>{{ component['qctest']['results']['currentStage'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>Test Type</td>
                  <td class='text-left'>{{ component['qctest']['results']['testType'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>Institute ObjectId</td>
                  <td class='text-left'>{{ component['qctest']['results']['institute']['institution'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>User Name</td>
                  <td class='text-left'>{{ component['qctest']['results']['user'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>ObjectId of this record</td>
                  <td class='text-left'>{{ component['qctest']['results']['id'] }}</td>
                </tr>
                <tr>
                  <th scope='row' class='text-left'>ObjectId of RAW record</td>
                  <td class='text-left'>{{ component['qctest']['results']['rawId'] }}</td>
                </tr>
              </tbody>
            </table>
        {% endif %}
      </div>
    </div>
    
    <div class='row align-items-top justify-content-left'>
      <div class='col-md-6'>
        <h4>
        {% if component['qctest']['results'] %}
          <i class='fa fa-file'></i> Results
        {% endif %}
        </h4>
        {% if component['qctest']['results'] %}
            <table class='table table-sm table-bordered' style='font-size: 10pt;'>
              <thead class='table-light'>
                <tr>
                  <th scope='col' class='text-left'>Key</th>
                  <th scope='col' class='text-left'>Data</th>
                </tr>
              </thead>
              <tbody>
                {% for key in component['qctest']['results']['results'] %}
                {% if key == 'property' or key == 'properties' or key == 'Metadata' or key == 'metadata' %}
                
                {% for key2 in component['qctest']['results']['results'][key] %}
                <tr>
                  <th scope='row' class='text-left'> {{ key2 }} </th>
                  <td class='text-left'>{{ component['qctest']['results']['results'][key][key2] | safe }}</td>
                </tr>
                {% endfor %}
                
                {% else %}
                <tr>
                  <th scope='row' class='text-left'> {{ key }} </th>
                  <td class='text-left'>{{ component['qctest']['results']['results'][key] | safe }}</td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
        {% endif %}
        {% if component['qctest']['results']['summary'] %}
            <table class='table table-sm table-bordered' style='font-size: 10pt;'>
              <thead class='table-light'>
                <tr>
                  <th scope='col' class='text-left'>Key</th>
                  <th scope='col' class='text-left'>Data</th>
                </tr>
              </thead>
              <tbody>
                {% for key in component['qctest']['results']['summary'] %}
                
                {% if key == 'property' or key == 'properties' or key == 'Metadata' or key == 'metadata' %}
                {% for key2 in component['qctest']['results']['summary'][key] %}
                <tr>
                  <th scope='row' class='text-left'> {{ key2 }} </th>
                  <td class='text-left'>{{ component['qctest']['results']['summary'][key][key2] | safe }}</td>
                </tr>
                {% endfor %}
                
                {% else %}
                <tr>
                  <th scope='row' class='text-left'> {{ key }} </th>
                  <td class='text-left'>{{ component['qctest']['results']['summary'][key] | safe }}</td>
                </tr>
                {% endif %}
                
                {% endfor %}
              </tbody>
            </table>
        {% endif %}
    
      </div>
    </div>
    
    <div class='row align-items-top justify-content-left'>
      <div class='col-md-6'>
        <h4>
        {% if component['qctest']['results']['attachments'] | length > 0 %}
          <i class='fa fa-file'></i> Attachments
        {% endif %}
        </h4>
        {% if component['qctest']['results']['attachments'] | length > 0 %}
            <table class='table table-sm table-bordered' style='font-size: 10pt;'>
              <thead class='table-light'>
                <tr>
                  <th scope='col' class='text-left'>Filename</th>
                  <th scope='col' class='text-left'>Contents</th>
                </tr>
              </thead>
              <tbody>
                {% for file in component['qctest']['results']['attachments'] %}
                <tr>
                  <th scope='row' class='text-left'> {{ component['qctest']['results']['attachments'][file][0] }} </th>
                  {% if 'png' in component['qctest']['results']['attachments'][file][0] or 'jpg' in component['qctest']['results']['attachments'][file][0] %}
                  <td class='text-left'><img src="{{ file }}" /></td>
                  {% else %}
                  <td class='text-left'>
                    <form role="form" method="post"
                          action="{{ url_for('component_api.download_file' ) }}"
                          accept-charset="UTF-8">
                      <input type="hidden" name="path" value="{{ file }}" />
                      <input type="hidden" name="download_name" value="{{ component['qctest']['results']['attachments'][file][0] }}" />
                      <input type="hidden" name="mimetype" value="application/{{component['qctest']['results']['attachments'][file][1]}}" />
                      <button class="btn btn-primary" type="submit" type="button">Download</button>
                    </form>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
        {% endif %}
      </div>
    </div>
    
    
    <div class='row align-items-top justify-content-left'>
      <div class='col-md-6'>
        <h4>
        {% if component['qctest']['results']['vi_doc'] | length > 0 %}
          <i class='fa fa-file'></i> Visual Inspection Defects
        {% endif %}
        </h4>
        
        {% if component['qctest']['results']['vi_doc'] | length > 0 %}
        {% for file in component['qctest']['results']['vi_doc'] %}
        {% set file_content = component['qctest']['results']['vi_doc'][file] %}
        {% if file_content[0] and file_content[1] and (file_content[0] == 'front_image' or file_content[0] == 'back_image') %}
        <form role="form" method="post"
              action="{{ url_for('component_api.download_file' ) }}"
              accept-charset="UTF-8">
          <input type="hidden" name="path" value="{{ file }}" />
          <input type="hidden" name="download_name" value="{{file_content[0] + '.' + file_content[1]}}" />
          <input type="hidden" name="mimetype" value="{{file_content[1]}}" />
          <button class="btn btn-primary" type="submit" type="button">Download Full {{file_content[0]}}</button>
        </form>
        {% endif %}
        {% endfor %}
        {% endif %}
        
        {% if component['qctest']['results']['vi_doc'] | length > 0 %}
            <table class='table table-sm table-bordered'>
              <thead class='table-light'>
                <tr>
                  <th scope='col' class='text-left'>Filename</th>
                  <th scope='col' class='text-left'>Contents</th>
                  <th scope='col' class='text-left'>Defects</th> 
                  <th scope='col' class='text-left'>Comment</th>
               </tr>
              </thead>
              <tbody>
                {% for file in component['qctest']['results']['vi_doc'] %}
                {% set file_content = component['qctest']['results']['vi_doc'][file] %}
                {% if file_content[0] != 'front_image' and file_content[0] != 'back_image' %}
                <tr>
                  <th scope='row' class='text-left'><p>{{ file_content[0] }}</p>
                    <form role="form" method="post"
                          action="{{ url_for('component_api.download_file' ) }}"
                          accept-charset="UTF-8">
                      <input type="hidden" name="path" value="{{ file }}" />
                      <input type="hidden" name="download_name" value="{{file_content[0] + '.' + file_content[1]}}" />
                      <input type="hidden" name="mimetype" value="{{file_content[1]}}" />
                      <button class="badge badge-pill badge-primary" type="submit" type="button">Download {{file_content[0]}}</button>
                    </form>
                  </th>
                  <td class='text-left'>
                    <img src="{{ file }}" width="200px"/>
                  </td>
                  {% if file_content | length > 3 %}
                  <td class='text-left'>
                    <ul style="font-size: 150%;">
              {% if file_content[2] %}
                      {% for item in file_content[2] %}
                      {% set type = item.split('.')[0] %}
                      {% if type == 'Yellow' %}
                      <li><span class='badge badge-warning'>{{ item.split('.')[1] }}</span></li>
                      {% elif type == 'Red' %}
                      <li><span class='badge badge-danger'>{{ item.split('.')[1] }}</span></li>
                      {% endif %}
                      {% endfor %}
              {% endif %}
                    </ul>
                  </td>
                  <td class='text-left'> {{ file_content[3] }} </td>
                  {% else %}
                  <td class='text-left'>N/A</td>
                  <td class='text-left'>N/A</td>
                  {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
        {% endif %}
      </div>
    </div>
    
    
    