<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">

      {% if not component['qctest']['results']['analysis_result'] == {} %}
      <h3><i class="fa fa-caret-right"></i>Bad Pixel Analysis</h3>
      <ul class="nav nav-tabs" role="tablist">
        {% for chip_result in component['qctest']['results']["analysis_result"] %}
	{% set i = component['qctest']['results']["analysis_result"].index( chip_result ) %}
	<li class="nav-item">
	  {% if i == 0 %}
          <a class="nav-link active" id="item{{i}}-tab" data-toggle="tab" href="#item{{i}}" role="tab" aria-controls="item{{i}}" aria-selected="true">Chip {{ chip_result['chipname'] }}</a>
	  {% else %}
	  <a class="nav-link" id="item{{i}}-tab" data-toggle="tab" href="#item{{i}}" role="tab" aria-controls="item{{i}}" aria-selected="false">Chip {{ chip_result['chipname'] }}</a>
	  {% endif %}
	</li>
	{% endfor %}
      </ul>

      <div class="tab-content" style="border: 0.5px #ccc solid; overflow-y: scroll; height: 500px;">
        {% for chip_result in component['qctest']['results']["analysis_result"] %}
	{% set i = component['qctest']['results']["analysis_result"].index( chip_result ) %}
        {% if chip_result["tool"] == True %}
	
	{% if i == 0 %}
	<div class="tab-pane fade show active" id="item{{i}}" role="tabpanel" aria-labelledby="item{{i}}-tab">
	{% else %}
	<div class="tab-pane fade" id="item{{i}}" role="tabpanel" aria-labelledby="item{{i}}-tab">
	{% endif %}
	  
          <h4 style="font-size: 12pt;">
            {% if not chip_result["tool"] %}
            <font color=#ff0000>### NO SOFTWARE ###</font>
            {% endif %}
          </h4>
	  
          {% include "yarr_scans/show_analysis_result.html" %}
	  
          Download Analysis result
          <form method=post action="{{ url_for( 'component_api.download_rootfile' ) }}">
            <button type="submit" name="path" value="{{ chip_result["Tree_path"] }}">Tree File</button>
            <button type="submit" name="path" value="{{ chip_result["result_path"] }}">Result File</button>
          </form>
	  
          {% endif %}
	</div>
        {% endfor %}
      </div>
      {% endif %}

	<hr />

	<form class="form-holizontal" role="form" method="post" action="{{ url_for('component_api.show_component', id=component['_id'], test=component['test'], collection=component['collection'], runId = component['runId'] ) }}" accept-charset="UTF-8">
	  <input type="hidden" name="regeneratePlots" value="true" placeholder="View">
	  <h2><i class='fa fa-cog'></i> Result Plots
	    <button class="btn btn-primary" name="regeneratePlots" title="Click this button when e.g. cache is broken.">Regenerate Plots</button>
	  </h2>
	</form>
	
      {% for scan in component['qctest']["results"]["plots"] %}
        <h2 style="font-size: 20pt;"><i class="fa fa-caret-right"></i> {{ scan }}
          {% if not component['qctest']["results"]["plots"][scan]["rootsw"] %}
          <font color=#ff0000>### NO PLOTTING SOFTWARE ###</font>
          {% endif %}
        </h2>

        <div class="row align-items-center justify-content-flex-start">
          <div class="col">
          {% for result in component['qctest']["results"]["plots"][scan]["results"] %}
              <h4 style="font-size: 10pt;">
                <i class="fa fa-caret-right"></i> {{ result["mapType"] }}
                <a href="/localdb/plotData?testRunId={{ result['runId'] }}&mapType={{ result['mapType'] }}">plotly</a>
              </h4>
              <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
                <thead class="table-light">
                  <tr>
                    {% for chip, data in result["chips"].items() %}
                      {% if not data["num"]==0 %}
                        <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" width={{ data["length"] }} colspan={{ data["num"] }}>{{ chip }}</th>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for chip, data in result["chips"].items() %}
                      {% for plot in data["plots"] %}
                        <td scope="col" class="text-left" style="word-wrap:break-word;">
                        <a href="{{ plot['href'] }}" target="_brank" rel="noopener noreferrer">
                          <img src="{{ plot['href'] }}" title="{{ plot['name'] }}" width={{ data["width"] }} height={{ data["height"] }}></img>
                        </a>
                        </td>
                      {% endfor %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
          {% endfor %}
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

