{% if component['qctest']['results']['raw_record'] != {} %}
    <h4>
      <i class='fa fa-file'></i> RAW Results Record
    </h4>
    <div class='row align-items-top justify-content-left' style="margin-left: 2%; margin-top: 10px; margin-bottom: 10px;">
      <a class="btn btn-info" data-toggle="collapse" href="#rawRecord" role="button" aria-expanded="false" aria-controls="rawRecord">
	Expand RAW Record
      </a>
      <div class="collapse" id="rawRecord">
	<div class="card card-body">
	  {{ component['qctest']['results']['raw_record'] | safe }}
	</div>
      </div>  
    </div>

{% endif %}
