<style>
input[type="checkbox"].data {
display: none;
margin: 0px;
padding: 0px;
background-color: #ffffff;
}
input[type="checkbox"].data + label {
margin: 0px;
padding: 0px;
border: none;
background-color: #ffffff;
}
input[type="checkbox"].data:checked + label {
margin: 0px;
padding: 0px;
border: none;
color: #3cb371;
background-color: #ffffff;
}
input[type="checkbox"].data:checked + label:hover {
margin: 0px;
padding: 0px;
color: #3cb371;
border: none;
background-color: #ffffff;
}
label.data {
margin: 0px;
padding: 0px;
text-align: center;
cursor: pointer;
color: #dddddd;
background-color: #ffffff;
border: none;
}
</style>
<div class='row align-items-top justify-content-center'>
  <div class='col'>
    <h4 style='font-size: 13pt;'><i class='fa fa-cog'></i> Result of SLDO VI</h4>
  </div>
</div>
<div class='row align-items-top justify-content-left'>
  <div class='col-md-6'>
    <h4 style='font-size: 10pt;'>
    {% if component['qctest']['results'] %}
      <i class='fa fa-file'></i> Scan
    {% endif %}
    </h4>
    {% if component['qctest']['results'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              <th scope='col' class='text-left'>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='raw' class='text-left'>component id</td>
              <td class='text-left'>{{ component['qctest']['results']['component'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>Stage</td>
              <td class='text-left'>{{ component['qctest']['results']['currentStage'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>test Type</td>
              <td class='text-left'>{{ component['qctest']['results']['testType'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>institute</td>
              <td class='text-left'>{{ component['qctest']['results']['institute'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>user</td>
              <td class='text-left'>{{ component['qctest']['results']['user'] }}</td>
            </tr>
          </tbody>
        </table>
    {% endif %}
  </div>
</div>

<div class='row align-items-top justify-content-left'>
  <div class='col-md-6'>
    <h4 style='font-size: 10pt;'>
    {% if component['qctest']['results'] %}
      <i class='fa fa-file'></i> Result
    {% endif %}
    </h4>
    {% if component['qctest']['results'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              <th scope='col' class='text-left'>Data</th>
            </tr>
          </thead>
          <tbody>
            {% for keys in component['qctest']['results']['results'] %}
            {% if keys!="unit" and keys!="SLDO_VI" %}
            <tr>
                <th scope='raw' class='text-left'> {{ keys }} </td>
                <td class='text-left'>{{ component['qctest']['results']['results'][keys] }} {{component['qctest']['results']['unit_list'][keys]}} </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <div class="row align-items-left justify-content-flex-start">
          <div class="col">
            <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
              <thead class="table-light">
                <tr>
                  <th scope='col' class='text-left' style="word-wrap:break-word;" width=100 colspan=1 > graph of SLDO_VI </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="col" class="text-left" style="word-wrap:break-word;">
                  <a href={{ component['qctest']['results']['graph'] }} target="_brank" rel="noopener noreferrer">
                    <img src={{ component['qctest']['results']['graph'] }} title="image" height="300"></img>
                  </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
 {% endif %}
  </div>
</div>
