<style>
input[type="checkbox"].data {
display: none;
margin: 0px;
padding: 0px;
background-color: #ffffff;
}
input[type="checkbox"].data + label {
margin: 0px;
padding: 0px;
border: none;
background-color: #ffffff;
}
input[type="checkbox"].data:checked + label {
margin: 0px;
padding: 0px;
border: none;
color: #3cb371;
background-color: #ffffff;
}
input[type="checkbox"].data:checked + label:hover {
margin: 0px;
padding: 0px;
color: #3cb371;
border: none;
background-color: #ffffff;
}
label.data {
margin: 0px;
padding: 0px;
text-align: center;
cursor: pointer;
color: #dddddd;
background-color: #ffffff;
border: none;
}
</style>
<div class='row align-items-top justify-content-left'>
  <div class='col'>
    <h4 style='font-size: 13pt;'><i class='fa fa-cog'></i> Result of This Test</h4>
  </div>
</div>
<div class='row align-items-top justify-content-left'>
  <div class='col-md-6'>
    <h4 style='font-size: 10pt;'>
    {% if component['qctest']['results'] %}
      <i class='fa fa-file'></i> Scan
    {% endif %}
    </h4>
    {% if component['qctest']['results'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              <th scope='col' class='text-left'>Data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope='raw' class='text-left'>component id</td>
              <td class='text-left'>{{ component['qctest']['results']['component'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>Stage</td>
              <td class='text-left'>{{ component['qctest']['results']['currentStage'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>test Type</td>
              <td class='text-left'>{{ component['qctest']['results']['testType'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>institute</td>
              <td class='text-left'>{{ component['qctest']['results']['institute'] }}</td>
            </tr>
            <tr>
              <th scope='raw' class='text-left'>user name</td>
              <td class='text-left'>{{ component['qctest']['results']['user'] }}</td>
            </tr>
          </tbody>
        </table>
    {% endif %}
  </div>
</div>

<div class='row align-items-top justify-content-left'>
  <div class='col-md-6'>
    <h4 style='font-size: 10pt;'>
    {% if component['qctest']['results'] %}
      <i class='fa fa-file'></i> Result
    {% endif %}
    </h4>
    {% if component['qctest']['results'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              <th scope='col' class='text-left'>Data</th>
            </tr>
          </thead>
          <tbody>
            {% for keys in component['qctest']['results']['results'] %}
            <tr>
              <th scope='raw' class='text-left'> {{ keys }} </td>
              <td class='text-left'>{{ component['qctest']['results']['results'][keys] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
    {% if component['qctest']['results']['summary'] %}
        <table class='table table-sm table-bordered' style='font-size: 8pt;'>
          <thead class='table-light'>
            <tr>
              <th scope='col' class='text-left'>Key</th>
              <th scope='col' class='text-left'>Data</th>
            </tr>
          </thead>
          <tbody>
            {% for keys in component['qctest']['results']['summary'] %}
            <tr>
              <th scope='raw' class='text-left'> {{ keys }} </td>
              <td class='text-left'>{{ component['qctest']['results']['summary'][keys] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    {% endif %}
  </div>
</div>

{% for scan in component['qctest']["results"]["plots"] %}
<!--<h2 style="font-size: 20pt;"><i class="fa fa-caret-right"></i> {{ scan }}
  {% if not component['qctest']["results"]["plots"][scan]["rootsw"] %}
  <font color=#ff0000>### NO PLOTTING SOFTWARE ###</font>
  {% endif %}
</h2>

<div class="row align-items-center justify-content-flex-start">
  <div class="col">
    {% for result in component['qctest']["results"]["plots"][scan]["results"] %}
    <h4 style="font-size: 10pt;">
      <i class="fa fa-caret-right"></i> {{ result["mapType"] }}
      <a href="/localdb/plotData?testRunId={{ result['runId'] }}&mapType={{ result['mapType'] }}">plotly</a>
    </h4>
    <table class="table table-sm table-bordered" style="font-size: 8pt; table-layout: fixed;">
      <thead class="table-light">
        <tr>
          {% for chip, data in result["chips"].items() %}
          {% if not data["num"]==0 %}
          <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" width={{ data["length"] }} colspan={{
            data["num"] }}>{{ chip }}</th>
          {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for chip, data in result["chips"].items() %}
          {% for plot in data["plots"] %}
          {{ chip }}
          <td scope="col" class="text-left" style="word-wrap:break-word;">
            <a href={{ plot["url"] }} target="_brank" rel="noopener noreferrer">
              <img src={{ plot["url"] }} title={{ plot["name"] }} width={{ data["width"] }} height={{ data["width"]
                }}></img>
            </a>
          </td>
          {% endfor %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
-->


<style>
  img.plot-img:hover {
    border: 0.5px solid #CCC;
    transform: scale(2.5);
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var lazyImages = [].slice.call(document.querySelectorAll("img.plot-img"));

    if ("IntersectionObserver" in window) {
      let lazyImageObserver = new IntersectionObserver(function (entries, observer) {
        entries.forEach(function (entry) {
          if (entry.isIntersecting) {
            let lazyImage = entry.target;
            lazyImage.src = lazyImage.dataset.src;
            if (typeof lazyImage.dataset.srcset === "undefined") {
            } else {
              lazyImage.srcset = lazyImage.dataset.srcset;
            }
            lazyImage.classList.remove("plot-img");
            lazyImageObserver.unobserve(lazyImage);
          }
        });
      });

      lazyImages.forEach(function (lazyImage) {
        lazyImageObserver.observe(lazyImage);
      });
    } else {
      // Possibly fall back to a more compatible method here
    }
  });
</script>
<h3><i class='fa fa-cog'></i> Result Plots for {{ scan }}</h3>

    {% for result in component['qctest']["results"]["plots"][scan]["results"]|sort(attribute='mapType')|reverse %}
    <h4>
      <i class="fa fa-caret-right"></i> <b>{{ result["mapType"] }}</b>
      <a href="/localdb/plotData?testRunId={{ result['runId'] }}&mapType={{ result['mapType'] }}"
        style="font-size: 50%;">[plotly]</a>
    </h4>
    <div style="display: flex; flex-wrap: wrap;">
      {% for chip, data in result["chips"].items() %}
      {% if not data["num"]==0 %}
      <div width={{ data["length"] }} align="left">
        <table class="table table-sm table-bordered" style="font-size: 8pt;">
          <thead class="table-light">
            <tr>
              <th ~~~ scope="col" class="text-left" style="word-wrap:break-word;" colspan={{ data["num"] }}>{{ chip }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr style="display: flex; flex-wrap: wrap; background: #DDD; max-width: 100%">
              {% for plot in data["plots"] %}
              <td scope="col" class="text-left" style="word-wrap:break-word;">
                <a href={{ plot["url"] }} target="_brank" rel="noopener noreferrer">
                  <img class="plot-img" src="static/assets/images/dummy.png" data-src={{ plot["url"] }} title={{
                    plot["name"] }} width={{ data["width"] }} height={{ data["height"] }}></img>
                </a>
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}

    <!--<h4 style="font-size: 10pt;"><i class="fa fa-paint-brush"></i> PLOT
      {% if not component['qctest']["results"]["plots"][scan]["rootsw"] %}
      <font color=#ff0000>### NO PLOTTING SOFTWARE ###</font>
      {% elif component['qctest']["results"]["plots"][scan]["jsroot"] %}
      <a href="javascript:displayRoot()">JSROOT</a>
      {% endif %}
    </h4>
    {% if component['qctest']["results"]["plots"][scan]["jsroot"] %}
    <div class="row align-items-center justify-content-flex-start">
      <script src="static/jsroot/scripts/JSRootCore.js?gui"></script>
      <div id="simpleGUI" path={{ component['qctest']["results"]["plots"][scan]["jsroot"]["path"] }} files={{
        component['qctest']["results"]["plots"][scan]["jsroot"]["files"] }}
        style="width:100%;height:600px;margin-bottom:10px;position:relative">
        loading scripts ...
      </div>
      <script type="text/javascript">
        document.getElementById("simpleGUI").style.display = "none";
        function displayRoot() {
          const p1 = document.getElementById("simpleGUI");
          if (p1.style.display == "block") {
            p1.style.display = "none";
          } else {
            p1.style.display = "block";
          }
        }
      </script>
    </div>
  {% endif %}-->



{% endfor %}
