<style>
th { background-color: #eeeeff; }
tbody { vertical-align: top; }

input[type="radio"] {
  -ms-transform: scale(2.0); /* IE 9 */
  -webkit-transform: scale(2.0); /* Chrome, Safari, Opera */
  transform: scale(2.0);
}
</style>
{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > {{ title | safe }} </h1>
      <h1>{{ title | safe }}</h1>

    </div>
  </div>
</div>

<div class="container">
  {% if message %}
  <div class="row align-items-left justify-content-left">
    <p><strong style="color: red;">ERROR: {{ message }}</strong></p>
  </div>
  {% endif %}
  
  <div class="row align-items-left justify-content-left">
    <div class="col">
      
      <dl class="row" style="margin-left: 30px;">
	<dt class="col-sm-3">Component Type</dt><dd class="col-sm-9">{{ testFormat['componentType']['code'] }}</dd>
	<dt class="col-sm-3">Serial Number</dt><dd class="col-sm-9">{{ component['serialNumber'] }}</dd>
	<dt class="col-sm-3">Stage</dt><dd class="col-sm-9">{{ stage }}</dd>
	<dt class="col-sm-3">Test</dt><dd class="col-sm-9">{{ testFormat['code'] }}</dd>
	<dt class="col-sm-3">Description</dt><dd class="col-sm-9">{{ testFormat['description'] }}</dd>
      </dl>
      
      <hr />
      
      {% if mode == 'default' %}
      <form class="col" method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.create_summary') }}" >
	
      <h2>Select Inputs</h2>
      {% for param in testFormat['parameters'] %}
      {% if param['code'] in resultCandidates %}
      <h4><i class="fa fa-file-o"></i> Field: {{ param['name'] }}</h4>
      <dl class="row" style="margin-left: 20px; font-size: 150%;">
	<dt class="col-sm-1">Data Type</dt><dd class="col-sm-6">{{ param['dataType'] }}</dd>
      </dl>
      
      <div class="overflow-auto">
      <table class="table table-bordered table-stripe" style="margin-left: 30px; font-size: 130%;">
	<thead>
	  <th>Select</th>
	  <th>QC Pass/Fail</th>
	  <th>Time Stamp</th>
	  <th>Analysis Version</th>
	  <th>Result</th>
	</thead>
	{% if (resultCandidates[ param['code'] ] | length) == 0 %}
      <tr>
        <td style="vertical-align: middle; text-align: center">
          <div class="form-check">
            <input type="radio" class="form-check-input" name="{{ param['code'] }}" checked>
          </div>
        </td>
        <td colspan="3"><p style="font-size: 150%;"><strong>Skip this input</strong></p>(*) Select only when you are sure the QC can be passed witout this Test!</td>
      </tr>
	{% else %}
      {% for candidate in resultCandidates[ param['code'] ] | reverse %}
        <tr>
          <td style="vertical-align: middle; text-align: center">
            <div class="form-check">
	      {% if resultCandidates[ param['code'] ] | length == 1 %}
              <input type="radio" class="form-check-input" name="{{ param['code'] }}" value="{{ candidate['_id'] }}" required="required" checked>
	      {% else %}
              <input type="radio" class="form-check-input" name="{{ param['code'] }}" value="{{ candidate['_id'] }}" required="required">
	      {% endif %}
            </div>
          </td>
	  <td>
            {% if 'passed' in candidate %}
            {% if candidate['passed'] == True %}
            <span class="badge badge-pill badge-success" style="font-size:100%;">Passed</span>
            {% else %}
            <span class="badge badge-pill badge-dark" style="font-size:100%;">Failed</span>
            {% endif %}
            {% else %}
            <span class="badge badge-pill badge-light" style="font-size:100%;">N/A</span>
            {% endif %}
	  </td>
	  <td>
	    {{ candidate['Time Stamp'] }}
	  </td>
	  <td>
	    {{ candidate['analysis_version'] }}
	  </td>
	  <td>
	    <a href="{{ url_for('component_api.show_component', collection = 'component', id = candidate['componentId'], runId = candidate['_id'] ) }}" class="badge badge-secondary" style="font-size: 130%;">View Result<a>
	  </td>
        </tr>
      {% endfor %}
      <tr>
        <td style="vertical-align: middle; text-align: center">
          <div class="form-check">
            <input type="radio" class="form-check-input" name="{{ param['code'] }}" required="required">
          </div>
        </td>
        <td colspan="4"><p style="font-size: 150%;"><strong>Skip this input</strong></p>(*) Select only when you are sure the QC can be passed witout this Test!</td>
      </tr>
    {% endif %}
    </table>
      </div>
      {% endif %}
      {% endfor %}
      <input type="hidden" name="component" value="{{ component['_id'] }}" >
      <input type="hidden" name="stage" value="{{ stage }}" >
      <input type="hidden" name="test" value="{{ testType }}" >
      <input type="hidden" name="mode" value="input">
      <button type="submit" class="btn btn-primary">Proceed</button>
      </form>
      
      
      
      
      
      {% elif mode == "confirm" %}
      <form class="col" method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.create_summary') }}" >
	
      <h2>Select Inputs &mdash; confirm</h2>
        
      <table class="table table-bordered table-stripe" style="margin-left: 30px; font-size: 110%;">
        <thead>
          <th>Field Name</th>
          <th>Data Type</th>
          <th>Field Value</th>
        </thead>
        
        {% for param in testFormat['parameters'] %}
        {% if param['dataType'] == 'codeTable' or param['dataType'] == 'testRun' %}

        <tr>
	      <td style="vertical-align: middle; text-align: left">{{ param['name'] }}</td>
          <td style="vertical-align: middle; text-align: left">{{ param['dataType'] }}</td>
          
          <td>
            {% if param['code'] in summaryEvals %}
            
              <input type="hidden" name="{{ param['code'] }}" value="{{ summaryEvals[param['code']] }}">
              {% if summaryEvals[param['code']] == True %}
                <span class="badge badge-pill badge-success" style="font-size:100%;">Passed</span>
              {% elif summaryEvals[param['code']] == False %}
                <span class="badge badge-pill badge-dark" style="font-size:100%;">Failed</span>
              {% else %}
                <span class="badge badge-pill badge-light" style="font-size:100%;">N/A</span>
              {% endif %}

            {% elif param['code'] in resultCandidates %}

              {% if resultCandidates[ param['code'] ] is not iterable %}
                {{ resultCandidates[ param['code'] ] }}

              {% elif (resultCandidates[ param['code'] ] | length) == 0 %}
                <span class="badge badge-pill badge-warning" style="font-size:100%;">Skipped</span>
              {% else %}
                {% for candidate in resultCandidates[ param['code'] ] | reverse %}
                  {% if input[ param['code'] ] == ( candidate['_id']|safe ) %}
                    {% if 'passed' in candidate %}
                      {% if candidate['passed'] == True %}
                        <span class="badge badge-pill badge-success" style="font-size:100%;">Passed</span>
                      {% else %}
                        <span class="badge badge-pill badge-dark" style="font-size:100%;">Failed</span>
                      {% endif %}
                    {% else %}
                      <span class="badge badge-pill badge-light" style="font-size:100%;">N/A</span>
                    {% endif %}
                      (ResultID: {{ candidate['_id'] }})
                      <input type="hidden" name="{{ param['code'] }}" value="{{ candidate['_id'] }}">
                    {% endif %}
                {% endfor %}
              {% endif %}
                      
	        {% else %}
              <span class="badge badge-pill badge-light" style="font-size:100%;">N/A</span>
            {% endif %}
          </td>
          
        </tr>

        {% endif %}
        {% endfor %}
      </table>
      
      <input type="hidden" name="component" value="{{ component['_id'] }}" >
      <input type="hidden" name="stage" value="{{ stage }}" >
      <input type="hidden" name="test" value="{{ testType }}" >
      <button type="submit" class="btn btn-warning" name="mode" value="default">Back</button>
      <button type="submit" class="btn btn-primary" name="mode" value="done">Confirm</button>
      </form>
      
      <!--{{ componentRaw | safe }}
      {{ formatRaw | safe }}
      {{ resultCandidatesRaw | safe }}-->
      
      {% endif %}

    </div>
  </div>
  
</div>


{% endblock %}
