<style>
th { background-color: #eeeeff; }
tbody { vertical-align: top; }
</style>
{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > {{ title }} </h1>
      <h1>{{ title }}</h1>

    </div>
  </div>
</div>

<div class="container">
  <div class="col align-items-left justify-content-left">
    <dl style="font-size: 130%;">
      <dt>Component Serial Number</dt><dd>{{ serialNumber }}</dd>
      <dt>Component Type</dt><dd>{{ componentType }}</dd>
      <dt>Stage</dt><dd>{{ stage }}</dd>
      <dt>Test Type</dt><dd>{{ testType }}</dd>
    </dl>
    
    <!--{{ testFormatHTML | safe }}-->
  </div>
  
  
  {% if message %}
  <div class="col align-items-left justify-content-left">
    <p><strong style="color: red;">ERROR: {{ message }}</strong></p>
  </div>
  {% endif %}
  
  {% if message_done %}
  <div class="col align-items-left justify-content-left">
    <p><strong style="color: #4A4;">{{ message_done }}</strong></p>
  </div>
  {% endif %}
  
  <hr />
  {% if mode == 'input' %}
  <div class="col align-items-left justify-content-left">
    <h3>Please Fill the following fields:</h3>
    <form class="col" method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.input_qcTests') }}" >

      {% if testFormat['properties']|length > 0 %}
      <h4><i class="fa fa-file"></i> Properties</h4>
      {% endif %}
      <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
	{% if testFormat['properties']|length > 0 %}
	<thead>
	  <th>Property Code</th>
	  <th>Property Name</th>
	  <th>dataType</th>
	  <th style="width:50%;">Value</th>
	</thead>
	{% endif %}
	{% for prop in testFormat['properties'] %}
	{% if prop['code'] != 'ANALYSIS_VERSION' %}
	<tr>
	  <th>{{ prop['code'] }}{% if prop['required'] %}<span style="color:text-danger">(*)</span>{% endif %}</th>
	  <th>{{ prop['name'] }}</th>
	  <td>{{ prop['dataType'] }}</td>
	  <td>
	    {% if prop['dataType'] == 'codeTable' %}
	    <select name="{{ prop['code'] }}">
	      <option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
	      {% for elem in prop['codeTable'] %}
	      <option value="{{ elem['value'] }}" >{{ elem['value'] }}</option>
	      {% endfor %}
	    </select>
	    
	    {% elif prop['dataType'] == 'boolean' %}
	    <select name="{{ prop['code'] }}">
	      <option value="N/A" {% if prop['value'] == None %}selected{% endif %}>N/A</option>
	      <option value="true" {% if prop['value'] == True %}selected{% endif %}>Yes</option>
	      <option value="false" {% if prop['value'] == False %}selected{% endif %}>No</option>
	    </select>
	    
	    {% elif prop['dataType'] == 'float' %}
	    <input type="number" name="{{ prop['code'] }}" required step="0.001" value="" />
	    
	    {% elif prop['dataType'] == 'integer' %}
	    <input type="number" name="{{ prop['code'] }}" required value="" />
	    
	    {% else %}
	    
	    {% if prop['value'] != None %}
	    <input type="text" name="{{ prop['code'] }}" required value="" />
	    {% else %}
	    <input type="text" name="{{ prop['code'] }}" required value="N/A" />
	    {% endif %}
	    
	    {% endif %}
	  </td>
	</tr>
	{% endif %}
	{% endfor %}
      </table>
      
      {% if testFormat['parameters']|length > 0 %}
      <h4><i class="fa fa-file"></i> Parameters</h4>
      {% endif %}
      <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
	{% if testFormat['parameters']|length > 0 %}
	<thead>
	  <th>Parameter Code</th>
	  <th>Parameter Name</th>
	  <th>dataType</th>
	  <th style="width:50%;">Value</th>
	</thead>
	{% endif %}
	{% for param in testFormat['parameters'] %}
	<tr>
	  <th>{{ param['code'] }}{% if param['required'] %}<span class="text-danger"><sup>&nbsp;*</sup></span>{% endif %}</th>
	  <th>{{ param['name'] }}</th>
	  <td>{{ param['dataType'] }}</td>
	  <td>
	    {% if param['dataType'] == 'codeTable' %}
	    <select name="{{ param['code'] }}">
	      <option value="N/A" {% if param['value'] == None %}selected{% endif %}>N/A</option>
	      {% for elem in param['codeTable'] %}
	      <option value="{{ elem['value'] }}" >{{ elem['value'] }}</option>
	      {% endfor %}
	    </select>
	    
	    {% elif param['dataType'] == 'boolean' %}
	    <select name="{{ param['code'] }}">
	      <option value="N/A" {% if param['value'] == None %}selected{% endif %}>N/A</option>
	      <option value="true" {% if param['value'] == True %}selected{% endif %}>Yes</option>
	      <option value="false" {% if param['value'] == False %}selected{% endif %}>No</option>
	    </select>
	    
	    {% elif param['dataType'] == 'float' %}
	    <input type="number" name="{{ param['code'] }}" required step="0.001" value="" />
	    
	    {% elif param['dataType'] == 'integer' %}
	    <input type="number" name="{{ param['code'] }}" required value="" />
	    
	    {% elif param['dataType'] == 'binary' %}
	    <input type="file" id="{{ param['code'] }}" required name="{{ param['code'] }}" class="form-control form-control-lg" />
	    
	    {% elif param['dataType'] == 'image' %}
	    <input type="file" id="{{ param['code'] }}" required name="{{ param['code'] }}" class="form-control form-control-lg" />
	    
	    {% elif param['dataType'] == 'object' %}
	    <input type="text" name="{{ param['code'] }}" value="Format must be a JSON" />
	    
	    {% else %}
	    
	    {% if param['value'] != None %}
	    <input type="text" name="{{ param['code'] }}" value="" />
	    {% else %}
	    <input type="text" name="{{ param['code'] }}" value="N/A" />
	    {% endif %}
	    
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </table>
      
      <input type="hidden" name="componentID" value="{{ componentID }}" />
      <input type="hidden" name="componentType" value="{{ componentType }}" />
      <input type="hidden" name="stage" value="{{ stage }}" />
      <input type="hidden" name="testType" value="{{ testType }}" />
      <input type="hidden" name="mode" value="confirm" />
      
      <a href="{{ url_for('component_api.show_component', id=componentID, collection='component') }}" class="btn btn-warning">Back to the Component Page</a>
      <button class="btn btn-primary" type="submit">Proceed</button>
      
    </form>
  </div>
  
  
  
  
  
  {% elif mode == 'confirm' %}
    <h3>Confirmation</h3>
    <form class="col" method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.input_qcTests') }}" >

      {% if testFormat['properties']|length > 0 %}
      <h4><i class="fa fa-file"></i> Properties</h4>
      {% endif %}
      <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
	{% if testFormat['properties']|length > 0 %}
	<thead>
	  <th>Property Code</th>
	  <th>Property Name</th>
	  <th>dataType</th>
	  <th style="width:50%;">Value</th>
	</thead>
	{% endif %}
	{% for prop in testFormat['properties'] %}
	{% if prop['code'] != 'ANALYSIS_VERSION' %}
	<tr>
	  <th>{{ prop['code'] }}{% if prop['required'] %}<span style="color:text-danger">(*)</span>{% endif %}</th>
	  <th>{{ prop['name'] }}</th>
	  <td>{{ prop['dataType'] }}</td>
	  <td>
	    {{ properties[ prop['code'] ] }}
	    <input type="hidden" name="{{ prop['code'] }}" value="{{ properties[ prop['code'] ] }}" />
	  </td>
	</tr>
	{% endif %}
	{% endfor %}
      </table>
      
      {% if testFormat['parameters']|length > 0 %}
      <h4><i class="fa fa-file"></i> Parameters</h4>
      {% endif %}
      <table class="table table-sm table-bordered table-striped" style="font-size: 130%;">
	{% if testFormat['parameters']|length > 0 %}
	<thead>
	  <th>Parameter Code</th>
	  <th>Parameter Name</th>
	  <th>dataType</th>
	  <th style="width:50%;">Value</th>
	</thead>
	{% endif %}
	{% for param in testFormat['parameters'] %}
	<tr>
	  <th>{{ param['code'] }}{% if param['required'] %}<span class="text-danger"><sup>&nbsp;*</sup></span>{% endif %}</th>
	  <th>{{ param['name'] }}</th>
	  <td>{{ param['dataType'] }}</td>
	  <td>
	    {{ parameters[ param['code'] ] }}
	    <input type="hidden" name="{{ param['code'] }}" value="{{ parameters[ param['code'] ] }}" />
	  </td>
	</tr>
	{% endfor %}
      </table>
      
      <input type="hidden" name="componentID" value="{{ componentID }}" />
      <input type="hidden" name="componentType" value="{{ componentType }}" />
      <input type="hidden" name="stage" value="{{ stage }}" />
      <input type="hidden" name="testType" value="{{ testType }}" />
      <input type="hidden" name="mode" value="submit" />
      
      <a href="{{ url_for('qc_api.input_qcTests', componentID=componentID, componentType=componentType, stage = stage, testType = testType) }}" class="btn btn-warning">Back to Input</a>
      <button class="btn btn-primary" type="submit">Submit</button>
      
    </form>
  </div>
  {% else %}
  {% endif %}

</div>


{% endblock %}
