<style>
th { background-color: #eeeeff; }
tbody { vertical-align: top; }
</style>
{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <h1 style="margin-top: 0.5%; margin-bottom: 0%; font-size: 150%;"> <a href="/localdb/" style="color:rgba(0, 0, 0, 0.648);;">Top Page</a> > {{page_docs['title']}} </h1>
      <h1>{{ page_docs['title'] }}</h1>

    </div>
  </div>
</div>

<div class="container">
  {% if 'message' in page_docs %}
  <div class="row align-items-left justify-content-left">
    <p><strong style="color: red;">ERROR: {{ page_docs['message'] }}</strong></p>
  </div>
  {% endif %}
  
  {% if 'message_done' in page_docs %}
  <div class="row align-items-left justify-content-left">
    <p><strong style="color: #4A4;">{{ page_docs['message_done'] }}</strong></p>
  </div>
  {% endif %}
  
  
  {% if 'testDataAnaResult' in page_docs %}
  <h2>QC Analysis Result</h2>
  <div class="row align-items-left justify-content-left" style="margin: 20px;">
    {{ page_docs['testDataAnaResult'] | safe }}
  </div>
  {% endif %}
  
  {% if 'testData' in page_docs %}
  <h2>QC RAW Data</h2>
  <div class="row align-items-left justify-content-left" style="margin: 20px;">
    {% if page_docs['testDataAnaResult'] | safe != "<ul><li>None</li></ul>" %}
    {{ page_docs['testData'] | safe }}
    {% else %}
    <p><strong style="color: #4A4;">Registration is skipped since the identical test record is already present in LocalDB.</strong></p>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="row align-items-left justify-content-left">
    <div class="col">

      {% if not 'testData' in page_docs %}
      <form method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.upload_qcTests') }}" >
	<div style="margin: 15px; width:80%;">
	  <label for="fileUpload" class="form-label" style="font-size:150%;">Submit a QC result JSON file</label>
	  <input type="file" id="fileUpload" name="fileUpload" class="form-control form-control-lg" required />
	</div>
	
	<button class="btn btn-primary" type="submit" value="Upload">Upload</button>
      </form>
      {% else %}
      <form method="post" enctype="multipart/form-data" action="{{ url_for('qc_api.upload_qcTests') }}" >
	<button class="btn btn-primary" type="submit" value="Upload">Resume</button>
      </form>
      {% endif %}

    </div>
  </div>
  
</div>


{% endblock %}
