<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">

  <meta name="keywords" content="">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400">

  <link rel="stylesheet" href="static/assets/fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="static/assets/fonts/fontawesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">

  <link rel="stylesheet" href="static/assets/css/slick.css">
  <link rel="stylesheet" href="static/assets/css/slick-theme.css">


  <link href="static/tablesorter-master/docs/css/jq.css" rel="stylesheet">
  <link href="static/tablesorter-master/dist/css/theme.bootstrap_4.css" rel="stylesheet">

<style type="text/css">
  .balloonoya {
    position: relative;
  }

  .balloonoya:hover .balloon {
    display: inline;
  }

  .balloon {
  color: #FFF;
    position: absolute;
    display: none;
    padding: 5%;
    background-color: #88F;
  border-radius: 5px;
    width: 180px;
    left: 0%;
    bottom: 100%;
    margin-bottom: 12px;
    font-size: 80%;
  transition: all 0.5s 0s ease;
  }

  .balloon:after {
    border-top: 12px solid #88F;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -12px;
    left: 30%;
    content: "";
    position: absolute;
  transition: all 0.5s 0s ease;
  }
</style>

</head>
