<script src="static/assets/js/jquery.min.js"></script>

<script src="static/assets/js/popper.min.js"></script>

<script src="static/assets/js/bootstrap.min.js"></script>

<script src="static/assets/js/slick.min.js"></script>

<script src="static/assets/js/jquery.mb.YTPlayer.min.js"></script>
<script src="static/assets/js/jquery.waypoints.min.js"></script>
<script src="static/assets/js/jquery.easing.1.3.js"></script>


<script src="static/tablesorter-master/docs/js/jquery-1.2.6.min.js"></script>
<script src="static/tablesorter-master/dist/js/jquery.tablesorter.min.js"></script>
<script src="static/tablesorter-master/dist/js/jquery.tablesorter.widgets.min.js"></script>
<script>
    var jqOther = jQuery.noConflict(true);
    jqOther(function(){ 
            jqOther("#elTable").tablesorter({
                widgets        : ['zebra', 'columns'],
                usNumberFormat : false,
                sortReset      : true,
                sortRestart    : true,
                theme          : 'bootstrap'
            });
            jqOther("#qcTable").tablesorter({
                widgets        : ['zebra', 'columns'],
                usNumberFormat : false,
                sortReset      : true,
                sortRestart    : true,
                theme          : 'bootstrap'
            });
            jqOther("#propTable").tablesorter({
                widgets        : ['zebra', 'columns'],
                usNumberFormat : false,
                sortReset      : true,
                sortRestart    : true,
                theme          : 'bootstrap'
            });
    });
</script>





