  <div class="col align-items-center justify-content-center" style="margin-top: 10px;">
    {% for msg in table_docs['messages'] %}
    {% if 'ERROR' in msg['message'] %}
    <div class="alert alert-danger" role="alert">
    {% elif 'WARNING' in msg['message'] %}
    <div class="alert alert-warning" role="alert">
    {% else %}
    <div class="alert alert-secondary" role="alert">
    {% endif %}
    <strong>[ {{ msg['code'] | safe}} ]</strong><br />  
    {{ msg['component'] }}:
    {{ msg['message'] | safe }}
      {% if msg['can_dismiss'] == true or not 'can_dismiss' in msg %}
      <a href="{{ url_for('user_api.delete_message', id=msg['_id'])}}"><button class="btn-secondary" >Dismiss</button></a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
